@charset "UTF-8";
@font-face {
  font-family: 'Golos UI';
  src: url("../font/Golos%20UI_Regular.eot");
  src: url("../font/Golos%20UI_Regular.eot?#iefix") format("embedded-opentype"), url("../font/Golos%20UI_Regular.woff2") format("woff2"), url("../font/Golos%20UI_Regular.woff") format("woff"), url("../font/Golos%20UI_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos UI';
  src: url("Golos%20UI_Medium.eot");
  src: url("../font/Golos%20UI_Medium.eot?#iefix") format("embedded-opentype"), url("../font/Golos%20UI_Medium.woff2") format("woff2"), url("../font/Golos%20UI_Medium.woff") format("woff"), url("../font/Golos%20UI_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos UI';
  src: url("../font/Golos%20UI_Bold.eot");
  src: url("../font/Golos%20UI_Bold.eot?#iefix") format("embedded-opentype"), url("../font/Golos%20UI_Bold.woff2") format("woff2"), url("../font/Golos%20UI_Bold.woff") format("woff"), url("../font/Golos%20UI_Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font/icons/icomoon.eot?eo8hcq");
  src: url("../font/icons/icomoon.eot?eo8hcq#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?eo8hcq") format("truetype"), url("../font/icons/icomoon.woff?eo8hcq") format("woff"), url("../font/icons/icomoon.svg?eo8hcq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file .path1:before {
  content: "\e91b";
  color: #eaf6ff;
}

.icon-file .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: #d8ecfe;
}

.icon-file .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: #82aee3;
}

.icon-file .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: #82aee3;
}

.icon-file .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: #82aee3;
}

.icon-file .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: #82aee3;
}

.icon-file .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: #b3dafe;
}

.icon-list .path1:before {
  content: "\e922";
  color: #e5e5eb;
}

.icon-list .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: #3b4256;
}

.icon-s-send .path1:before {
  content: "\e92a";
  color: #e5e5eb;
}

.icon-s-send .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: #3b4256;
}

.icon-alert-octagon:before {
  content: "\e900";
}

.icon-alert-triangle:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-chevron-bottom:before {
  content: "\e903";
}

.icon-chevron-left:before {
  content: "\e904";
}

.icon-chevron-right:before {
  content: "\e905";
}

.icon-circle-arrow-top-right:before {
  content: "\e906";
}

.icon-circle-x:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-facebook:before {
  content: "\e909";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #3B5999;
  color: white;
  border-radius: 50%;
}

.icon-glasses:before {
  content: "\e90a";
}

.icon-insta:before {
  content: "\e90b";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  color: white;
  border-radius: 50%;
  background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
}

.icon-kebab-menu:before {
  content: "\e90c";
}

.icon-ok:before {
  content: "\e90d";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #FF9800;
  color: white;
  border-radius: 50%;
}

.icon-printer:before {
  content: "\e90e";
}

.icon-search:before {
  content: "\e90f";
}

.icon-send:before {
  content: "\e910";
}

.icon-service:before {
  content: "\e911";
}

.icon-telegram:before {
  content: "\e912";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #0088CC;
  color: white;
  border-radius: 50%;
}

.icon-twitter:before {
  content: "\e913";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #03A9F4;
  color: white;
  border-radius: 50%;
}

.icon-user:before {
  content: "\e914";
}

.icon-vk:before {
  content: "\e915";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #4B729F;
  color: white;
  border-radius: 50%;
}

.icon-whatsapp:before {
  content: "\e916";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #4CAF50;
  color: white;
  border-radius: 50%;
}

.icon-youtube:before {
  content: "\ea9d";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 37px;
  height: 37px;
  background: #FF0000;
  color: white;
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Golos UI", sans-serif;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #3B4256;
}

input, select, textarea {
  border-radius: 2px;
  resize: none;
  font-size: 18px;
  border: 2px solid transparent;
  background: #F4F7FB;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input:hover, select:hover, textarea:hover {
  background: #E6EEF7;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #848E99;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #848E99;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 18px;
  color: #848E99;
}

input::placeholder, select::placeholder, textarea::placeholder {
  font-size: 18px;
  color: #848E99;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid black;
  background: white;
}

textarea {
  padding: 14px;
}

.title, h1 {
  margin-bottom: 29px;
  display: block;
  line-height: 52px;
  font-size: 40px;
  font-weight: 400;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}

.main-block {
  padding: 33px 0 47px;
}

.main-block .news__image {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.main-block .news__description {
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
}

.main-block .news__promo {
  margin-bottom: 43px;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.bg-second {
  background: #E5E5EB;
}

.header.fixed, header.fixed {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 5000;
}

.header.fixed .header__hero, header.fixed .header__hero {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 10px;
    max-width: 720px;
  }
  .title, h1 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
  }
  input, select {
    font-size: 16px;
  }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    font-size: 16px;
  }
  input:-ms-input-placeholder, select:-ms-input-placeholder {
    font-size: 16px;
  }
  input::-ms-input-placeholder, select::-ms-input-placeholder {
    font-size: 16px;
  }
  input::placeholder, select::placeholder {
    font-size: 16px;
  }
  .main-block .news__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title, h1 {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    line-height: 22px;
  }
  input, select {
    font-size: 14px;
  }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    font-size: 14px;
  }
  input:-ms-input-placeholder, select:-ms-input-placeholder {
    font-size: 14px;
  }
  input::-ms-input-placeholder, select::-ms-input-placeholder {
    font-size: 14px;
  }
  input::placeholder, select::placeholder {
    font-size: 14px;
  }
  .main-block {
    padding: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 355px;
  }
  .title, h1 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
  }
}

.field-radio {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 0;
  padding-left: 48px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #F4F7FB;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.field-radio:hover {
  background: #E6EEF7;
}

.field-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.field-radio.active {
  border: 2px solid #0061D9;
  background: white;
}

.field-radio.active:hover {
  background: white;
}

.field-radio .checkmark {
  left: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 21px;
  width: 21px;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.field-radio input:checked ~ .checkmark {
  background-color: #0061D9;
  border: 2px solid #0061D9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.field-radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.field-radio .checkmark::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.field-radio .checkmark::after {
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.field-radio input:checked ~ .checkmark::after {
  display: block;
}

.field-checkbox {
  padding: 10px 0;
  border: 2px solid transparent;
  display: block;
  position: relative;
  padding-left: 48px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #F4F7FB;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.field-checkbox:hover {
  background: #E6EEF7;
}

.field-checkbox.active {
  border: 2px solid #0061D9;
  background: white;
}

.field-checkbox.active:hover {
  background: white;
}

.field-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.field-checkbox .checkmark {
  left: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 21px;
  width: 21px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid black;
}

.field-checkbox input:checked ~ .checkmark {
  background-color: #0061D9;
  border: 2px solid #0061D9;
}

.field-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.field-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.field-checkbox .checkmark::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.politic {
  width: 100%;
}

.politic__error {
  padding: 12px;
  display: none;
  color: #E52E2E;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.politic__checkbox {
  border: none;
  max-width: 700px;
  background: transparent;
  padding: 0;
  padding-top: 4px;
  padding-left: 31px;
  font-size: 14px;
  line-height: 16px;
}

.politic__checkbox:hover {
  background: transparent;
}

.politic__checkbox.active {
  border: none;
  background: transparent;
}

.politic__checkbox.active:hover {
  background: transparent;
}

.politic__checkbox .checkmark {
  left: 0;
  top: 0;
  -webkit-transform: none;
          transform: none;
}

.politic.error {
  background: #F5E3E3;
}

.politic.error .politic__error {
  display: block;
}

.field-select {
  position: relative;
}

.field-select select {
  cursor: pointer;
  padding: 11px 15px;
  width: 100%;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}

.field-select .icon-chevron-bottom {
  position: absolute;
  right: 5px;
  font-size: 18px;
  top: 50%;
  padding: 5px 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .field-radio, .field-checkbox {
    padding: 5px 0;
    margin-bottom: 5px;
    font-size: 14px;
    padding-left: 37px;
  }
  .field-radio .checkmark, .field-checkbox .checkmark {
    width: 18px;
    height: 18px;
    left: 10px;
  }
  .field-radio .checkmark::after {
    width: 8px;
    height: 8px;
  }
  .field-checkbox .checkmark::after {
    border-width: 0 2px 2px 0;
    left: 4px;
    top: 0px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  max-width: 310px;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.logo__title {
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.logo__subtitle {
  font-weight: 400;
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.box__main {
  -ms-flex-preferred-size: 65.7%;
      flex-basis: 65.7%;
}

.box__aside {
  -ms-flex-preferred-size: 28.6%;
      flex-basis: 28.6%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box__main, .box__aside {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .box__aside {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__title {
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  text-decoration: none;
  margin-right: 10px;
}

.social__icon:last-child {
  margin-right: 0;
}

button.btn-secondary, a.btn-secondary, button.btn-primary, a.btn-primary {
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 6px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

button.btn-secondary:active, a.btn-secondary:active, button.btn-primary:active, a.btn-primary:active {
  outline: none;
}

button.btn-secondary, a.btn-secondary {
  text-decoration: none;
  background: transparent;
  color: #0050B2;
  border: 1px solid #B3CBE8;
}

button.btn-secondary:hover, a.btn-secondary:hover {
  background: #F2F6FB;
  border: 1px solid #0050B2;
}

button.btn-secondary:active, a.btn-secondary:active {
  color: #0050B2;
}

button.btn-primary, a.btn-primary {
  color: white;
  background: #0061D9;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

button.btn-primary:hover, a.btn-primary:hover {
  background: #004EAE;
}

button.btn-primary:focus, a.btn-primary:focus {
  background: #004498;
}

button.btn-primary.disabled, a.btn-primary.disabled, button.btn-primary:disabled {
  pointer-events: none;
  background: #848E99;
}

button.btn-secondary.disabled, a.btn-secondary.disabled, button.btn-secondary:disabled {
  pointer-events: none;
  border: 1px solid #848E99;
  color: #848E99;
}

.btn-more {
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 27px;
}

.btn-group a, .btn-group button {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin-right: 15px;
  padding: 15px 26px;
  margin-bottom: 16px;
}

.btn-group__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

@media screen and (max-width: 992px) {
  .btn-group {
    padding: 10px 0;
  }
  .btn-group a, .btn-group button {
    font-size: 15px;
    line-height: 15px;
    margin-right: 10px;
    padding: 10px 16px;
    margin-bottom: 10px;
  }
  .btn-more {
    padding: 13px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .news__promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .btn-group {
    padding: 5px 0;
  }
  .btn-group a, .btn-group button {
    width: 100%;
    text-align: center;
  }
  .btn-group__text {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 14px;
  }
  .btn-more {
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list li {
  margin-right: 25px;
}

.nav__list li a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: block;
  padding: 42.5px 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.nav__list li a:hover {
  color: #C22743;
  border-bottom: 2px solid #C22743;
}

.nav__kebab {
  cursor: pointer;
}

.nav__kebab i {
  font-size: 24px;
}

.nav__kebab_close {
  display: none;
}

.nav__kebab.active .nav__kebab_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__kebab.active .nav__kebab_open {
  display: none !important;
}

.nav__kebab.active .menu-burger {
  display: none !important;
}

.menu-burger {
  display: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-burger i.menu-burger__item {
  height: 2px;
  width: 100%;
  position: relative;
  background: black;
}

.menu-burger i.menu-burger__item::before, .menu-burger i.menu-burger__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
}

.menu-burger i.menu-burger__item::before {
  top: 6px;
}

.menu-burger i.menu-burger__item::after {
  bottom: 6px;
}

.menu-kebab {
  display: none;
  z-index: 100;
  padding: 49px 0 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  overflow: auto;
  height: 90vh;
}

.menu-kebab__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-kebab__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10.3%;
  margin-bottom: 32px;
}

.menu-kebab__item:nth-child(3n) {
  margin-right: 0;
}

.menu-kebab__item .menu-kebab__link {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.menu-kebab__item .menu-kebab__link:hover {
  color: #C22743;
}

.menu-kebab__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-kebab__item ul li {
  margin-bottom: 16px;
}

.menu-kebab__item ul li a {
  text-decoration: none;
  color: #848E99;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.menu-kebab__item ul li a:hover {
  color: #C22743;
}

@media screen and (max-width: 1200px) {
  .nav__kebab_open {
    display: none;
  }
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .menu-kebab {
    padding: 20px 0 100px;
  }
  .menu-kebab__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-kebab__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-right: 0;
  }
  .menu-kebab__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-kebab__item {
    margin-bottom: 15px;
  }
  .menu-kebab__item ul li {
    margin-bottom: 10px;
  }
  .menu-kebab__item .menu-kebab__link {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .menu-kebab__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 0 12px;
}

.breadcrumbs__list li {
  color: #3B4256;
  margin-right: 23px;
}

.breadcrumbs__list li:last-child {
  margin-right: 0;
}

.breadcrumbs__list li a {
  padding-bottom: 2px;
  border-bottom: 2px solid #F4F7FB;
  color: #3B4256;
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-decoration: none;
}

.breadcrumbs__list li a::before {
  content: "/";
  color: #A7A8AB;
  font-size: 16px;
  display: block;
  position: absolute;
  right: -15px;
}

@media screen and (min-width: 992px) {
  .breadcrumbs__list li a {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  .breadcrumbs__list li a:hover {
    border-bottom: 2px solid #0061D9;
    color: #0061D9;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 14px 0 10px;
  }
}

@media screen and (max-width: 576px) {
  .breadcrumbs__list li {
    font-size: 13px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 41px;
}

.table td {
  color: #3B4256;
}

.table__btn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.table .table__status {
  color: #C29667;
}

.table .table__link {
  color: #C22743;
  text-decoration: none;
}

.table thead tr th {
  padding: 0 20px 17px 6px;
  text-align: left;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.table tbody tr {
  border-top: 1px solid #D9D9DE;
}

.table tbody tr:last-child {
  border-bottom: 1px solid #D9D9DE;
}

.table tbody tr td {
  vertical-align: top;
  padding: 26px 7px 19.5px 7px;
  padding-right: 20px;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .table tbody tr td {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }
  .table thead tr th {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .table {
    margin-bottom: 20px;
  }
}

.file-download .error__text {
  padding: 5px 5px;
  color: #D51A1A;
  display: none;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 531px;
}

.file__progress {
  position: relative;
  width: 100%;
  height: 4px;
  background: #E5E5EB;
  overflow: hidden;
  border-radius: 39px;
}

.file__progress_bar {
  width: 0;
  height: 4px;
  border-radius: 39px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background: #27C29D;
}

.file__item {
  border-top: 1px solid #E5E5EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0 19px;
}

.file__item:first-child {
  border: none;
  padding: 0;
  padding-bottom: 16px;
}

.file__icon {
  margin-right: 22.5px;
}

.file__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file__download {
  text-decoration: none;
  color: #0050B2;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  margin-bottom: 5px;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.file__download:hover {
  color: #C22743;
}

.file__size {
  color: #848E99;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.file-download .file__description .file__size {
  margin-bottom: 6px;
}

.file-download {
  width: 100%;
}

.file-download.error .file {
  background: #F5E3E3;
  padding: 5px;
}

.file-download.error .error__text {
  background: #F5E3E3;
  display: block;
}

.file-download__btn {
  font-size: 16px;
  line-height: 19px;
  padding: 12px 16px;
}

.file-download .file {
  max-width: none;
}

.file-download__field {
  display: block;
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 10px;
  border: 2px dashed #A7A8AB;
}

.file-download__field input[type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.file-download__field input[type="file"]:hover ~ .file-download__text .file-download__btn {
  background: #E6EEF7;
}

.file-download__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-download__text span {
  font-size: 14px;
  line-height: 16px;
  margin-left: 25px;
  color: #848E99;
}

.file-download .file {
  padding-top: 22px;
}

.file-download .file__icon {
  width: 39px;
}

.file-download .file__item {
  padding: 12px 0;
}

.file-download .file__item:first-child {
  border-top: 1px solid #E5E5EB;
  padding: 12px 0;
}

.file-download .file__description {
  width: 100%;
}

.file-download .file__size {
  color: #3B4256;
  font-size: 14px;
}

.file-download .file__icon {
  margin-right: 9.5px;
}

.file__between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.file__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.file__close i {
  margin-left: 10px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
  color: #C22743;
  border: 1px solid #C22743;
  border-radius: 50%;
}

.file__close i:hover {
  color: white;
  background: #C22743;
}

@media screen and (max-width: 992px) {
  .file__item:first-child {
    padding: 15px 0;
  }
  .file__item {
    padding: 15px 0;
  }
  .file__icon {
    margin-right: 10px;
  }
  .file__download {
    font-size: 16px;
    line-height: 20px;
  }
  .file__size {
    font-size: 12px;
    line-height: 12px;
  }
}

.aside {
  top: 130px;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 2px solid #D9D9DE;
  padding: 8px 0;
}

.aside li {
  margin-bottom: 15px;
}

.aside li:last-child {
  margin-bottom: 0;
}

.aside li.current {
  display: none;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  background: #F4F7FB;
}

.aside a {
  margin-left: -2px;
  border-left: 2px solid transparent;
  display: block;
  text-decoration: none;
  padding: 5px 22px;
  color: black;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #3B4256;
}

.aside a:hover {
  color: #C22743;
}

.aside a.active {
  pointer-events: none;
  color: #000000;
  border-left: 2px solid #C22743;
}

@media screen and (max-width: 992px) {
  .aside {
    padding: 5px 0;
    margin-bottom: 20px;
    position: static;
    border-left: none;
  }
  .aside li {
    display: none;
    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 0;
  }
  .aside li a {
    margin: 0;
    padding: 10px 10px;
  }
  .aside li:last-child {
    margin-bottom: 0;
  }
  .aside li.current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
  }
  .aside li.current.active ~ li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside li.current.active i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (max-width: 576px) {
  .aside {
    margin-bottom: 10px;
  }
}

.map {
  width: 352px;
  height: 352px;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .map {
    width: 259px;
    height: 252px;
  }
}

.tabs {
  width: 100%;
}

.tabs__items {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #D9D9DE;
}

.tabs__items button {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  padding: 14px 24px;
  margin-bottom: -2px;
  border: none;
  background: transparent;
  border-bottom: 2px solid transparent;
}

.tabs__items button:focus {
  outline: none;
}

.tabs__items button.active {
  border-bottom: 2px solid #C22743;
}

@media screen and (max-width: 992px) {
  .tabs__items button {
    font-size: 15px;
    line-height: 18px;
    padding: 12px 18px;
  }
}

@media screen and (max-width: 768px) {
  .tabs__items {
    overflow: scroll;
    padding-top: 5px;
  }
  .tabs__items button {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 16px;
    margin-bottom: 0;
  }
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0 18px;
}

.data.dark .data__text {
  color: #000000;
  pointer-events: none;
}

.data__text {
  margin-right: 10px;
  color: #C22743;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.data svg {
  margin-right: 13px;
}

.data__data {
  color: #848E99;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 992px) {
  .data {
    padding: 7px 0;
  }
}

@media screen and (max-width: 768px) {
  .data__text {
    margin-right: 5px;
    font-size: 12px;
    line-height: 14px;
  }
  .data__data {
    font-size: 12px;
    line-height: 14px;
  }
  .data svg {
    margin-right: 8px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.content__image {
  padding-top: 18px;
  margin-bottom: 30px;
}

.content p {
  margin-bottom: 35px;
}

.content__title {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}

.content ol {
  padding-top: 12px;
  padding-left: 18px;
  margin-bottom: 19px;
}

.content ol li {
  padding-left: 10px;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 12px;
  position: relative;
  color: #3B4256;
}

.content ul {
  list-style: "•";
  list-style-type: disc;
  padding-top: 12px;
  padding-left: 18px;
}

.content ul li {
  padding-left: 10px;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 12px;
  position: relative;
  color: #3B4256;
}

.content ul li ul {
  list-style: "—";
}

.content ul li ul li {
  padding-left: 10px;
}

@media screen and (max-width: 992px) {
  .content {
    padding-bottom: 10px;
  }
  .content p {
    margin-bottom: 15px;
  }
  .content__title {
    font-family: "Golos UI", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .content ul {
    list-style: "•";
    list-style-type: disc;
    padding-top: 4px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .content ul li, .content ol li {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
  }
  __image {
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

.article-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.article-block__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  line-height: 36px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  margin-top: 21px;
}

.article-block__link i {
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.article-block__link:hover {
  color: #C22743;
}

.article-block__link:hover i {
  color: #C22743;
}

.article-block__tabs {
  width: 100%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.article-block__tabs .tabs__items {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  .article-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .article-block__link {
    margin-top: 10px;
    font-size: 28px;
  }
}

@media screen and (max-width: 992px) {
  .article-block__link {
    margin-top: 0;
    font-size: 23px;
  }
  .article-block {
    margin-bottom: 20px;
  }
}

.slider-brand {
  padding: 35px 0 37px;
}

.slider-brand__image img {
  width: 100%;
}

.slider-brand__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-brand .container {
  position: relative;
}

.slider-brand__item {
  overflow: hidden;
  padding: 16px;
  height: 161px;
  width: 255px;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #E5E5EB;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

.slider-brand__item:hover {
  border: 1px solid #C29667;
}

.slider-brand__item:focus {
  outline: none;
}

.slider-brand__prev, .slider-brand__next {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 30%;
  font-size: 28px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #848E99;
}

.slider-brand__prev:hover, .slider-brand__next:hover {
  color: #C22743;
}

.slider-brand__prev.slick-disabled, .slider-brand__next.slick-disabled {
  color: black;
  pointer-events: none;
}

.slider-brand__prev {
  left: -4%;
}

.slider-brand__next {
  right: -5%;
}

.event .slider-brand__item {
  margin-bottom: 35px;
  margin-right: 33px;
}

.event .slider-brand__item:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .slider-brand__prev {
    left: -2%;
  }
  .slider-brand__next {
    right: -2%;
  }
}

@media screen and (max-width: 1200px) {
  .event .slider-brand__item {
    margin-right: 80px;
  }
  .event .slider-brand__item:nth-child(4n) {
    margin-right: 80px;
  }
  .event .slider-brand__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .slider-brand__prev {
    left: -1%;
  }
  .slider-brand__next {
    right: -1%;
  }
  .event .slider-brand__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 215px;
    margin-right: 0;
  }
  .event .slider-brand__item:nth-child(4n) {
    margin-right: 0;
  }
  .event .slider-brand__item:nth-child(3n) {
    margin-right: 0;
  }
  .slider-brand__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .slider-brand {
    padding: 20px 0;
  }
  .event .slider-brand__item {
    padding: 5px;
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    margin-bottom: 20px;
    height: 145px;
  }
}

@media screen and (max-width: 576px) {
  .slider-brand__prev, .slider-brand__next {
    display: none;
  }
  .event .slider-brand__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 190px;
  }
}

.danger-alert {
  background: #FF9500;
}

.danger-alert i.icon-alert-triangle {
  color: white;
  font-size: 33px;
  margin-right: 15px;
}

.danger-alert__wrap {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.danger-alert__text {
  font-size: 18px;
}

.vote {
  padding: 23px 0 18px;
}

.vote__title {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.vote__item {
  max-width: 351px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .vote {
    padding: 5px 0;
  }
  .vote__item {
    margin-bottom: 15px;
  }
}

header {
  position: relative;
}

.header__logo {
  margin-right: auto;
}

.header__hero {
  background: #3B4256;
}

.header__pannel {
  -webkit-box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48);
          box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48);
  position: relative;
  z-index: 200;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px 13px 0;
  text-decoration: none;
  margin-right: 39px;
}

.header__search span {
  color: white;
}

.header__search i {
  color: white;
  margin-right: 12px;
  font-size: 24px;
}

.header__impaire {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #505871;
  padding: 14px 24px;
}

.header__impaire span {
  color: white;
  border-bottom: 1px dashed white;
}

.header__impaire i::before {
  font-size: 22px;
  margin-right: 14px;
  color: white;
}

.header__logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logout span {
  color: white;
}

.header__logout .header__account_enter {
  color: #848E99;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-size: 14px;
}

.header__account {
  padding: 8px 23px;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__account .header__account_exit {
  margin-left: 15px;
  text-decoration: none;
  color: #C29667;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  display: none;
}

.header__account:hover .header__account_enter {
  color: white;
}

.header__account:hover .header__account_exit {
  color: #d1af8b;
}

.header__account.active .header__account_enter {
  display: none;
}

.header__account.active .header__account_exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__account_icon {
  color: white;
  font-size: 24px;
  margin-right: 13px;
}

.header .social {
  margin-right: auto;
}

.header .social .social__wrap .social__icon {
  margin-right: 7px;
}

.header .social .social__wrap .social__icon i::before {
  font-size: 13px;
  width: 26px;
  height: 26px;
}

.header__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 18px;
  margin-right: 25px;
}

.header__message i {
  font-size: 17px;
}

.header__message_send {
  color: #0050B2;
  margin-left: 8px;
  margin-bottom: -2px;
}

@media screen and (max-width: 1200px) {
  .header__search {
    margin-right: 10px;
  }
  .header__impaire span {
    display: none;
  }
  .header__logout {
    display: none;
  }
  .header__impaire i::before {
    margin-right: 0;
  }
  .header__account_exit {
    margin-left: 0;
  }
  .nav__list {
    display: none;
  }
  .nav__kebab {
    padding: 25px 0;
  }
}

@media screen and (max-width: 768px) {
  .header__social {
    display: none;
  }
  .header__search {
    margin-right: auto;
  }
  .header .header__message {
    display: none;
  }
  .logo__title {
    font-size: 14px;
    line-height: 16px;
  }
  .logo__subtitle {
    font-size: 12px;
  }
  .logo img {
    width: 35px;
  }
  .logo {
    max-width: 250px;
  }
  .logo__text {
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .header__impaire {
    padding: 14px 8px;
  }
  .header__account {
    padding: 8px 10px;
  }
}

.footer {
  background: #2E3547;
}

.footer__wrap {
  padding: 71px 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.footer__social {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__social .social__title {
  margin-bottom: 6px;
  margin-right: 0;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contact__item {
  margin-bottom: 32px;
}

.footer-contact__title {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #848E99;
  margin-bottom: 10px;
}

.footer-contact p, .footer-contact a {
  color: white;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.footer-contact a {
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.footer-contact a:hover {
  color: #C29667;
}

.footer ul.footer__item {
  -ms-flex-preferred-size: 21.5%;
      flex-basis: 21.5%;
}

ul.footer__item li {
  margin-bottom: 29px;
}

ul.footer__item li a {
  text-decoration: none;
  color: white;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

ul.footer__item li a:hover {
  color: #C29667;
}

.footer-strip {
  border-top: 1px solid #4F576B;
}

.footer-strip__wrap {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-strip__text {
  font-weight: 400;
  color: white;
  font-size: 14px;
  line-height: 16px;
}

.footer-strip__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-strip__production span {
  margin-right: 16px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #848E99;
}

@media screen and (max-width: 992px) {
  .footer__item:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
  .footer ul.footer__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .footer__wrap {
    padding: 50px 0 45px;
  }
}

@media screen and (max-width: 768px) {
  .footer__wrap {
    padding: 30px 0 25px;
  }
  .footer-contact__item {
    margin-bottom: 15px;
  }
  ul.footer__item li {
    margin-bottom: 15px;
  }
  ul.footer__item li a {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer__wrap {
    padding: 20px 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-strip__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
  .footer-strip__text {
    margin-bottom: 15px;
  }
}

.error__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__title {
  color: black;
  font-size: 40px;
  margin-bottom: 32px;
}

.error__subtitle {
  color: black;
  letter-spacing: .006em;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}

.error__text {
  margin-bottom: 35px;
}

.error__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 638px;
  width: 100%;
}

.error__btns button, .error__btns a {
  text-align: center;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  padding: 15px 0;
  font-family: "Golos UI", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

@media screen and (max-width: 1200px) {
  .error__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 992px) {
  .error__title {
    font-size: 34px;
    margin-bottom: 28px;
  }
  .error__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .error__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .error__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .error__btns button, .error__btns a {
    margin-bottom: 15px;
  }
  .error__btns button:last-child, .error__btns a:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .error__btns button, .error__btns a {
    padding: 10px 0;
  }
  .error__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.search {
  padding: 7px 0 37px;
}

.search form {
  margin-bottom: 32px;
}

.search__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__item {
  border-top: 1px solid #E5E5EB;
  padding: 38px 0 30px;
}

.search__item:last-child {
  padding: 38px 0 0;
}

.search__title {
  padding-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #E5E5EB;
  margin-bottom: 30px;
}

.search__subtitle {
  font-family: "Golos UI", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 32px;
  display: block;
}

.search button.search__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 19px;
}

.search button.search__btn .search__btn_icon {
  color: white;
  margin-left: 16px;
  font-size: 24px;
  margin-top: 2px;
}

.search__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__field input {
  width: 100%;
  padding: 16.5px 14px;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search-result__index {
  padding-left: 16px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #848E99;
}

.search-result__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-result__title {
  margin-top: -2px;
  display: block;
  margin-bottom: 7px;
  color: black;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.search-result__title:hover {
  color: #C22743;
}

.search-result p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #848E99;
  margin-bottom: 3px;
}

.search-result__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #C22743;
}

@media screen and (max-width: 992px) {
  .search-result__title {
    font-size: 16px;
    line-height: 22px;
  }
  .search__item {
    padding: 25px 0;
  }
  .search__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .search form {
    margin-bottom: 20px;
  }
  .search button.search__btn {
    font-size: 16px;
  }
  .search button.search__btn .search__btn_icon {
    font-size: 20px;
    margin-left: 10px;
  }
  .search__title {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .search {
    padding: 6px 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .search-result__index {
    padding-left: 0;
    -ms-flex-preferred-size: 13%;
        flex-basis: 13%;
  }
  .search__title {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .search__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .search__item {
    padding: 15px 0;
  }
  .search {
    padding: 6px 0 40px;
  }
  .search__field input {
    padding: 12px 14px;
  }
  .search button.search__btn {
    font-size: 13px;
    padding: 0 15px;
  }
  .search button.search__btn .search__btn_icon {
    font-size: 16px;
    margin-left: 5px;
  }
  .search__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .search-result__title {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }
  .search-result p {
    font-size: 13px;
    line-height: 18px;
  }
  .search-result__index {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (max-width: 576px) {
  .search {
    padding: 6px 0 30px;
  }
}

.cabinet {
  padding: 7px 0 73px;
}

.cabinet__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cabinet__title {
  margin-bottom: 29px;
}

.cabinet__btn {
  letter-spacing: .006em;
  padding: 16px 26px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.cabinet-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cabinet-menu__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E5E5EB;
}

.cabinet-menu__item {
  padding: 31px 0;
  text-decoration: none;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabinet-menu__item .cabinet-menu__icon svg rect, .cabinet-menu__item .cabinet-menu__icon svg path {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.cabinet-menu__item:hover .cabinet-menu__title, .cabinet-menu__item:hover .cabinet-menu__subtitle {
  color: #C29667;
}

.cabinet-menu__item:hover .cabinet-menu__icon svg rect, .cabinet-menu__item:hover .cabinet-menu__icon svg path {
  fill: #C29667;
}

.cabinet-menu__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cabinet-menu__title {
  font-family: "Golos UI", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.cabinet-menu__subtitle {
  font-size: 14px;
  color: #3B4256;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.cabinet-menu__icon {
  margin-right: 16px;
}

.cabinet-table {
  margin-bottom: 41px;
}

.cabinet-table tbody td:first-child {
  width: 8%;
}

.cabinet-table tbody td:nth-child(2) {
  width: 29.5%;
}

@media screen and (max-width: 1200px) {
  .cabinet {
    padding: 5px 0 65px;
  }
  .cabinet-menu__title {
    font-size: 18px;
  }
  .cabinet-menu__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {
  .cabinet {
    padding: 5px 0 55px;
  }
  .cabinet-table {
    overflow: scroll;
    margin-bottom: 30px;
  }
  .cabinet-menu__item {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .cabinet-menu__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .cabinet-menu__item {
    padding: 10px 0;
    border-top: 1px solid #E5E5EB;
  }
  .cabinet {
    padding: 5px 0 35px;
  }
  .cabinet-table {
    margin-bottom: 15px;
  }
  .cabinet__btn {
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding: 11px 0;
  }
}

@media screen and (max-width: 576px) {
  .cabinet {
    padding: 5px 0 15px;
  }
}

.answer__wrap {
  border: 1px solid #E5E5EB;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
  padding: 48px;
  padding-bottom: 53px;
}

.answer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
  max-width: 732px;
}

.answer__item:last-child {
  margin-bottom: 10px;
}

.answer__title {
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 1px;
  display: block;
  width: 100%;
}

.line {
  border-bottom: 1px solid #E5E5EB;
  padding-bottom: 12px;
  margin-bottom: 13px;
}

@media screen and (max-width: 1200px) {
  .answer__wrap {
    padding: 40px;
  }
}

@media screen and (max-width: 992px) {
  .answer__wrap {
    padding: 36px;
  }
}

@media screen and (max-width: 768px) {
  .answer__wrap {
    padding: 30px;
    margin-bottom: 15px;
  }
  .answer__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .answer__wrap {
    padding: 10px;
  }
}

.accordeon {
  padding: 7px 0 59px;
}

.accordeon__item {
  background: #F4F7FB;
  border: 1px solid #F4F7FB;
  border-radius: 6px;
  padding: 0 14px;
  margin-bottom: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.accordeon__title {
  margin-bottom: 34px;
}

.accordeon__content {
  display: none;
}

.accordeon__content p, .accordeon__content span {
  margin: 24px 0;
}

.accordeon__action {
  padding: 17px 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordeon__action span, .accordeon__action p {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.accordeon__action_icon {
  color: #0061D9;
  font-size: 26px;
}

.accordeon__item.active {
  border: 1px solid #0061D9;
}

.accordeon__item.active .accordeon__action {
  -webkit-box-shadow: 0px 1px 0px #FFFFFF;
          box-shadow: 0px 1px 0px #FFFFFF;
  border-bottom: 1px solid #E5E5EB;
}

.accordeon__item.active .accordeon__action_icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordeon__item.active .accordeon__action span, .accordeon__item.active .accordeon__action p {
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 1200px) {
  .accordeon__action {
    padding: 15px 0;
  }
  .accordeon {
    padding: 6px 0 50px;
  }
  .accordeon__content p, .accordeon__content span {
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .accordeon__action span, .accordeon__action p {
    font-size: 16px;
    line-height: 20px;
  }
  .accordeon {
    padding: 6px 0 30px;
  }
  .accordeon__content p, .accordeon__content span {
    margin: 16px 0;
  }
}

@media screen and (max-width: 576px) {
  .accordeon {
    padding: 6px 0 15px;
  }
  .accordeon__content p, .accordeon__content span {
    margin: 10px 0;
  }
}

.contacts {
  padding: 7px 20px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__description {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contacts__text {
  padding-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.contacts__text span {
  display: block;
  margin-bottom: 10px;
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
}

.contacts__text a {
  text-decoration: none;
  color: #3B4256;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.contacts__text a:hover {
  color: #C22743;
}

.contacts__table table {
  margin-bottom: 0;
}

.contacts__table tbody td:first-child {
  width: 30%;
}

.contacts__table tbody td:nth-child(2) {
  width: 23%;
}

@media screen and (max-width: 1200px) {
  .contacts__description {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media screen and (max-width: 992px) {
  .contacts__description {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .contacts__table {
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  .contacts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .contacts__item:last-child {
    margin-bottom: 20px;
  }
  .contacts__text {
    margin-bottom: 15px;
  }
  .contacts__text:last-child {
    margin-bottom: 0;
  }
}

.descussion {
  padding: 5px 0 74px;
}

.descussion__file {
  padding: 64px 0 39px;
}

.descussion__wrap {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descussion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.descussion__item:last-child {
  margin-bottom: 0;
}

.descussion__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
}

.descussion__description p {
  margin-bottom: 15px;
}

.descussion__suptitle {
  padding: 34px 0;
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.descussion__data {
  color: #848E99;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.descussion__status {
  color: #C29667;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 25px;
}

.descussion-form {
  padding: 18px 0 10px;
}

.descussion-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descussion-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descussion-form__row .descussion-form__item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-right: 32px;
}

.descussion-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 32px;
}

.descussion-form__label {
  font-size: 14px;
  line-height: 16px;
  color: #848E99;
  margin-bottom: 0;
}

.descussion-form__text {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.descussion-form__message {
  padding: 13px 0 0;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descussion-form__message .descussion-form__text {
  margin-bottom: 9px;
}

.descussion-form__message .descussion-form__label {
  font-size: 18px;
  margin-bottom: 11px;
}

.descussion-form__textarea {
  width: 100%;
}

.descussion-form__textarea textarea {
  width: 100%;
  height: 124px;
}

@media screen and (max-width: 1200px) {
  .descussion {
    padding: 5px 0 65px;
  }
}

@media screen and (max-width: 992px) {
  .descussion {
    padding: 5px 0 45px;
  }
  .descussion__wrap {
    padding-top: 20px;
  }
  .descussion__item {
    margin-bottom: 25px;
  }
  .descussion__description p {
    margin-bottom: 5px;
  }
  .descussion__file {
    padding: 39px 0;
  }
  .descussion__suptitle {
    font-size: 28px;
    padding: 25px 0;
  }
  .descussion-form__message {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .file-download__text span {
    display: none;
  }
  .descussion-form__row .descussion-form__item {
    margin-bottom: 10px;
  }
  .descussion-form__message {
    margin-bottom: 15px;
  }
  .descussion-form__text {
    font-size: 16px;
  }
  .descussion-form__item {
    margin-bottom: 25px;
  }
  .descussion-form {
    padding: 8px 0;
  }
  .descussion {
    padding: 5px 0 25px;
  }
  .descussion__file {
    padding: 30px 0;
  }
  .descussion__suptitle {
    font-size: 24px;
    padding: 15px 0;
  }
  .descussion__status {
    margin-left: 15px;
  }
}

@media screen and (max-width: 576px) {
  .descussion-form__item {
    margin-bottom: 15px;
  }
  .descussion-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descussion {
    padding: 5px 0 15px;
  }
  .descussion__wrap {
    padding-top: 10px;
  }
  .descussion__item {
    margin-bottom: 15px;
  }
  .descussion__file {
    padding: 5px 0;
  }
  .descussion__suptitle {
    font-size: 20px;
    padding: 10px 0;
  }
}

.news {
  padding: 10px 0 72px;
}

.news__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  margin-right: 5.3%;
  min-height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.news__item:nth-child(3n) {
  margin-right: 0;
}

.news__item .data {
  margin-top: auto;
}

.news__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.news__form select, .news__form input {
  margin-right: 13px;
  padding: 11px;
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.news__suptitle {
  color: #3B4256;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  display: block;
  padding: 34px 0 32px;
}

.news__table {
  padding: 29px 0 26px;
}

.news__table tbody td:first-child {
  width: 30%;
}

.news__table tbody td:nth-child(2) {
  width: 23%;
}

.news__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.news__description {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__description_title {
  color: #000000;
  font-family: "Golos UI", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 14px;
}

.news__description .data {
  margin-top: auto;
  padding-bottom: 7px;
}

.news__link {
  display: block;
  text-decoration: none;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.news__link:hover {
  color: #C22743;
}

.news__image {
  -ms-flex-preferred-size: 47.7%;
      flex-basis: 47.7%;
}

.news__image img {
  width: 100%;
}

.news__string {
  padding: 7px 0 14px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5EB;
}

.news__string .news__link {
  margin-bottom: 21px;
}

@media screen and (max-width: 1200px) {
  .news {
    padding: 6px 0 60px;
  }
}

@media screen and (max-width: 992px) {
  .news__table {
    overflow: scroll;
    padding: 10px 0;
  }
  .news {
    padding: 6px 0 40px;
  }
  .news__item {
    margin-right: 0;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .news__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news__string .news__link {
    margin-bottom: 10px;
  }
  .news__string {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .news {
    padding: 6px 0 40px;
  }
  .news__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .news__form select, .news__form input {
    margin-bottom: 10px;
  }
  .news__description_title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 576px) {
  .news__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news {
    padding: 6px 0 10px;
  }
  .news__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    min-height: auto;
    margin-bottom: 20px;
  }
  .news__link {
    font-size: 16px;
    line-height: 20px;
  }
  .news__description_title {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscription {
  padding: 35px 0 52px;
}

.subscription__box {
  padding: 28px 28px;
  background: #F4F7FB;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.subscription__text {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 16px;
}

.subscription__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.subscription__icons a {
  text-decoration: none;
  margin-right: 11px;
}

.subscription__seal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.subscription__seal i {
  margin-right: 10px;
  font-size: 25px;
}

.subscription__seal span {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.subscription__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.subscription__statistic span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.subscription__statistic .subscription__statistic_grey {
  color: #848E99;
  margin-right: 4px;
}

@media screen and (max-width: 992px) {
  .subscription__box {
    padding: 15px;
  }
  .subscription__text {
    margin-right: 10px;
  }
  .subscription__icons a {
    margin-right: 5px;
  }
  .subscription {
    padding: 35px 0;
  }
}

@media screen and (max-width: 768px) {
  .subscription__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
  }
  .subscription__text {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .subscription__icons {
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscription__seal span {
    font-size: 14px;
  }
  .subscription__seal i {
    font-size: 20px;
  }
  .subscription__statistic span {
    font-size: 12px;
    line-height: 14px;
  }
  .subscription {
    padding: 20px 0;
  }
}

@media screen and (max-width: 576px) {
  .subscription {
    padding: 10px 0;
  }
  .subscription__icons a {
    margin-bottom: 5px;
  }
}

.hero {
  position: relative;
}

.hero__item {
  position: relative;
  height: 31.1vw;
  overflow: hidden;
  padding-top: 11vw;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero__image img {
  width: 100%;
}

.hero__title {
  margin-top: 21px;
  font-size: 64px;
  line-height: 68px;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}

.hero .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.hero__dots {
  bottom: 10%;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  z-index: 500;
}

.hero__dots .slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__dots .slick-dots li {
  width: 22px;
  height: 13px;
}

.hero__dots .slick-dots li button {
  padding: 0;
  height: 4px;
  width: 28px;
  background: rgba(244, 247, 251, 0.4);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.hero__dots .slick-dots li.slick-active button {
  background: rgba(244, 247, 251, 0.6);
}

@media screen and (max-width: 1400px) {
  .hero__item {
    padding-top: 90px;
  }
  .hero__title {
    margin-top: 0;
    font-size: 61px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .hero__item {
    padding-top: 60px;
  }
}

@media screen and (max-width: 992px) {
  .hero__item {
    padding-top: 40px;
  }
  .hero__title {
    font-size: 38px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero__item {
    height: 300px;
  }
  .hero__image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 576px) {
  .hero__item {
    padding-top: 20px;
    height: 220px;
  }
  .hero__title {
    font-size: 27px;
    line-height: 36px;
  }
  .hero__dots {
    bottom: 15%;
  }
}

.gid {
  margin-bottom: -5px;
  position: relative;
  height: 600px;
}

.gid__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 170px;
}

.gid__title {
  color: white;
  font-size: 30px;
  line-height: 32px;
}

.gid__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 32px 20px;
  background: rgba(59, 66, 86, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 2px;
}

.gid__list li {
  width: 277px;
  border-bottom: 1px solid #575F74;
}

.gid__list li a {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: white;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.gid__list li a i {
  color: white;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.gid__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
}

.gid__bg img {
  width: 100%;
  height: 100%;
}

.gid__bg::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(59, 66, 86, 0.2);
}

@media screen and (max-width: 1200px) {
  .gid {
    height: 500px;
  }
  .gid__wrap {
    padding-top: 100px;
  }
  .gid__list li a {
    font-size: 16px;
    line-height: 22px;
  }
  .gid__list li {
    width: 250px;
  }
}

@media screen and (max-width: 992px) {
  .gid__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
  .gid__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .gid__list {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .gid__wrap {
    padding-top: 34px;
  }
  .gid {
    height: auto;
    min-height: 400px;
  }
  .gid__list {
    width: 100%;
  }
}

.structure {
  padding: 10px 0;
}

.structure__wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.structure__link {
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48.6%;
      flex-basis: 48.6%;
  text-decoration: none;
}

.structure__link:hover .structure__title {
  color: #C22743;
}

.structure__link:hover .structure__icon path {
  fill: #C22743;
}

.structure__title {
  display: block;
  margin-bottom: 14px;
  font-family: "Golos UI", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.structure__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.structure__icon {
  min-width: 72px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin-right: 24px;
}

.structure__icon path {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

@media screen and (max-width: 992px) {
  .structure__icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
  }
  .structure__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .structure__link {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .structure__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .structure__link {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .structure__icon {
    width: 38px;
    height: 38px;
    margin-right: 5px;
  }
}

.useful-links {
  padding: 50px 0 46px;
}

.useful-links__title {
  font-size: 30px;
  line-height: 36px;
}

.useful-links__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.useful-links span, .useful-links span {
  color: #000000;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.useful-links__link {
  margin-bottom: 25px;
  min-height: 148px;
  -ms-flex-preferred-size: 31.4%;
      flex-basis: 31.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.8%;
  padding: 32px 25px;
  background: white;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.useful-links__link i {
  font-size: 23px;
  margin-right: 17px;
  color: #C29667;
}

.useful-links__link:nth-child(3n) {
  margin-right: 0;
}

.useful-links__link:hover {
  -webkit-box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48);
          box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48);
}

.useful-links__link:hover span {
  color: #C29667;
}

@media screen and (max-width: 992px) {
  .useful-links__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .useful-links__link {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-right: 0;
  }
  .useful-links {
    padding: 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .useful-links__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .useful-links__link {
    padding: 20px;
    margin-bottom: 20px;
  }
  .useful-links {
    padding: 30px 0;
  }
}

@media screen and (max-width: 576px) {
  .useful-links__link {
    padding: 10px;
    margin-bottom: 10px;
  }
  .useful-links {
    padding: 15px 0;
  }
}

.appeal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
  max-width: 735px;
}

.appeal__title {
  margin-bottom: 12px;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.appeal__field {
  max-width: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px;
  padding-bottom: 10px;
}

.appeal__field label.field-radio {
  margin-bottom: 14px;
}

.appeal__field label.field-radio:last-child {
  margin-bottom: 0;
}

.appeal__field input, .appeal__field textarea {
  padding: 8px 11px;
  line-height: 25px;
}

.appeal__field textarea {
  height: 150px;
}

.appeal__field.error {
  background: #F5E3E3;
  padding: 4px 11px;
  padding-bottom: 20px;
}

.appeal__field.error input {
  background: #F5E3E3;
  border: 2px solid #E52E2E;
}

.appeal__field.error .appeal__error {
  display: block !important;
}

.appeal__field span, .appeal__field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 6px;
}

.appeal__field span svg, .appeal__field label svg {
  margin-top: -3px;
  margin-left: 5px;
}

.appeal__error {
  display: none !important;
  color: #D51A1A;
}

.appeal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appeal__row.col-3 div, .appeal__row.col-3 .appeal__field {
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
}

.appeal__row.col-4 div, .appeal__row.col-4 .appeal__field {
  width: 175px;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .appeal__field, .appeal__box {
    max-width: 610px;
  }
  .appeal__row.col-3 div, .appeal__row.col-3 .appeal__field {
    width: 190px;
  }
  .appeal__row.col-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .appeal__row.col-4 div, .appeal__row.col-4 .appeal__field {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .appeal__box {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .appeal__field, .appeal__box {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .appeal__row.col-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .appeal__row.col-3 div, .appeal__row.col-3 .appeal__field {
    width: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .appeal__field {
    margin-bottom: 5px;
  }
  .appeal__field span, .appeal__field label {
    font-size: 14px;
    line-height: 20px;
  }
  .appeal__field .file-download__text span {
    display: none;
  }
}

.cookie {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #F4F7FB;
  z-index: 6000;
}

.cookie__text {
  -ms-flex-preferred-size: 87%;
      flex-basis: 87%;
}

.cookie p {
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.cookie a {
  color: #0050B2;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  text-decoration: none;
}

.cookie a:hover {
  color: #0061D9;
}

.cookie__btn {
  padding: 15px 26px;
  font-size: 18px;
  line-height: 25px;
}

.cookie__wrap {
  padding: 37px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie__close {
  cursor: pointer;
  position: absolute;
  right: 48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie__close i {
  position: relative;
  width: 100%;
  height: 3px;
  background: transparent;
}

.cookie__close i::after, .cookie__close i::before {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 80%;
  height: 3px;
  background: #848E99;
}

.cookie__close i::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cookie__close i::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cookie__close:hover i::after, .cookie__close:hover i::before {
  background: #3B4256;
}

@media screen and (max-width: 1400px) {
  .cookie__wrap {
    padding: 25px 0;
  }
  .cookie__close {
    right: 2px;
  }
}

@media screen and (max-width: 1200px) {
  .cookie__wrap {
    padding: 20px 0;
  }
}

@media screen and (max-width: 992px) {
  .cookie__text {
    -ms-flex-preferred-size: 77%;
        flex-basis: 77%;
  }
  .cookie p {
    font-size: 14px;
    line-height: 18px;
  }
  .cookie__btn {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .cookie__wrap {
    padding: 10px 0;
  }
  .cookie__close {
    top: 23px;
  }
  .cookie p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .cookie__wrap {
    padding: 5px 0;
  }
  .cookie__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 7px 10px;
  }
}

.modal {
  position: relative;
  padding: 52px 40px 40px;
  border-radius: 6px;
  background: white;
  display: none;
  width: 390px;
  text-align: center;
}

.modal svg {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.modal span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
  color: #848E99;
}

.modal p {
  margin-bottom: 24px;
}

.modal .modal__title {
  color: #000000;
  font-family: "Golos UI", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal__btn {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 40px 30px 30px;
  }
  .modal__btn {
    font-size: 16px;
    line-height: 18px;
    padding: 11px 0;
    margin-bottom: 10px;
  }
  .modal svg {
    margin-bottom: 15px;
  }
  .modal .modal__title {
    font-size: 17px;
    line-height: 20px;
  }
  .modal p {
    margin-bottom: 15px;
    line-height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .modal {
    padding: 30px 20px 20px;
  }
}
/*# sourceMappingURL=style.css.map */