.error
  &__wrap
    display: flex
    flex-direction: column
  &__title
    color: black
    font-size: 40px
    margin-bottom: 32px
  &__subtitle
    color: black
    letter-spacing: .006em
    @include text-bold
    margin-bottom: 9px
  &__text
    margin-bottom: 35px
  &__btns
    display: flex
    justify-content: space-between
    max-width: 638px
    width: 100%
    & button, & a
      text-align: center
      flex-basis: 49%
      padding: 15px 0
      font-family: $font-main
      font-weight: 500
      font-size: 18px
      line-height: 25px

@media screen and (max-width: 1200px)  
  .error
    &__title
      font-size: 38px
@media screen and (max-width: 992px)
  .error
    &__title
      font-size: 34px 
      margin-bottom: 28px
  .error__text
    margin-bottom: 20px

@media screen and (max-width: 768px)
  .error
    &__title
      font-size: 30px 
      margin-bottom: 15px 
    &__btns
      flex-direction: column
      & button, & a
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0

@media screen and (max-width: 576px)
  .error__btns button, .error__btns a
    padding: 10px 0
  .error
    &__title
      font-size: 24px 
      margin-bottom: 10px
