.accordeon
  padding: 7px 0 59px
  &__item
    background: #F4F7FB
    border: 1px solid #F4F7FB
    border-radius: 6px
    padding: 0 14px
    margin-bottom: 14px
    transition: all .2s linear
  &__title
    margin-bottom: 34px
  &__content
    display: none
    & p, & span
      margin: 24px 0
  &__action
    padding: 17px 0
    cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between
    & span, & p 
      @include text-regular
      color: $color-black
      transition: color .2s linear
    &_icon
      color: $color-interactive-hover
      font-size: 26px
  &__item.active
    border: 1px solid $color-interactive-hover
    & .accordeon__action
      box-shadow: 0px 1px 0px #FFFFFF
      border-bottom: 1px solid #E5E5EB
      &_icon
        transform: rotate(180deg)
      & span, & p 
        font-weight: 700
        line-height: 24px

@media screen and (max-width: 1200px)  
  .accordeon__action 
    padding: 15px 0
  .accordeon
    padding: 6px 0 50px
  .accordeon__content p, .accordeon__content span
    margin: 20px 0

@media screen and (max-width: 768px)
  .accordeon__action span, .accordeon__action p
    font-size: 16px
    line-height: 20px
  .accordeon
    padding: 6px 0 30px
  .accordeon__content p, .accordeon__content span
    margin: 16px 0

@media screen and (max-width: 576px)
  .accordeon
    padding: 6px 0 15px 
  .accordeon__content p, .accordeon__content span
    margin: 10px 0

