.answer
  &__wrap
    border: 1px solid #E5E5EB
    border-radius: 6px
    display: flex
    flex-direction: column
    margin-bottom: 32px
    padding: 48px
    padding-bottom: 53px
  &__item
    display: flex
    flex-direction: column
    margin-bottom: 32px
    max-width: 732px
    &:last-child
      margin-bottom: 10px
  &__title
    color: $color-text-tooltip
    font-size: 14px
    line-height: 16px
    font-weight: 400
    margin-bottom: 1px
    display: block
    width: 100%
.line
  border-bottom: 1px solid #E5E5EB
  padding-bottom: 12px
  margin-bottom: 13px
@media screen and (max-width: 1200px)  
  .answer__wrap
    padding: 40px

@media screen and (max-width: 992px)
  .answer__wrap
    padding: 36px

@media screen and (max-width: 768px)
  .answer__wrap
    padding: 30px
    margin-bottom: 15px
  .answer__item
    margin-bottom: 20px
@media screen and (max-width: 576px)
  .answer__wrap
    padding: 10px 
