.appeal
  &__box
    display: flex
    flex-direction: column
    margin-bottom: 45px
    max-width: 735px
  &__title
    margin-bottom: 12px
    @include text-bold
  &__field
    max-width: 735px
    display: flex
    flex-direction: column
    margin-bottom: 21px
    padding-bottom: 10px
    & label.field-radio
      margin-bottom: 14px
      &:last-child
        margin-bottom: 0
    & input, & textarea
      padding: 8px 11px
      line-height: 25px
    & textarea 
      height: 150px
    &.error
      background: #F5E3E3
      padding: 4px 11px
      padding-bottom: 20px
      & input 
        background: #F5E3E3
        border: 2px solid #E52E2E
      & .appeal__error
        display: block !important
    & span, & label 
      display: flex
      align-items: center
      @include text-regular
      margin-bottom: 6px
      & svg 
        margin-top: -3px
        margin-left: 5px
  &__error
    display: none !important
    color: $color-text-error
.appeal__row 
  display: flex
  justify-content: space-between
  &.col-3
    & div, & .appeal__field
      flex-basis: 31.5%
  &.col-4
    & div, & .appeal__field
      width: 175px
      margin-bottom: 0
@media screen and (max-width: 1200px)  
  .appeal__field, .appeal__box
    max-width: 610px
  .appeal__row.col-3 div, .appeal__row.col-3 .appeal__field
    width: 190px
  .appeal__row.col-4
    flex-wrap: wrap
  .appeal__row.col-4 div, .appeal__row.col-4 .appeal__field
    flex-basis: 47%
  .appeal__box
    margin-bottom: 15px
@media screen and (max-width: 992px)
  .appeal__field, .appeal__box
    max-width: none
@media screen and (max-width: 768px)
  .appeal__row.col-3
    flex-direction: column
  .appeal__row.col-3 div, .appeal__row.col-3 .appeal__field
    width: auto
    flex-basis: 100%
  .appeal__field
    margin-bottom: 5px
  .appeal__field span, .appeal__field label
    font-size: 14px
    line-height: 20px
  .appeal__field .file-download__text span
    display: none
@media screen and (max-width: 576px)
  .container 


  
  