.cabinet
  padding: 7px 0 73px
  &__menu
    display: flex
    flex-direction: column
  &__title
    margin-bottom: 29px
  &__btn
    letter-spacing: .006em
    padding: 16px 26px
    font-size: 18px
    line-height: 25px
    font-weight: 500

.cabinet-menu
  display: flex
  flex-direction: column
  &__box
    width: 100%
    display: flex
    justify-content: space-between
    border-top: 1px solid #E5E5EB
  &__item
    padding: 31px 0
    text-decoration: none
    flex-basis: 48%
    display: flex
    align-items: center
    & .cabinet-menu__icon svg
      & rect, & path
        transition: all .2s linear
    &:hover 
      & .cabinet-menu__title, & .cabinet-menu__subtitle
        color: $color-brand-gold
      & .cabinet-menu__icon svg
        & rect, & path
          fill: $color-brand-gold
  &__description
    display: flex
    flex-direction: column
  &__title
    @include text-medium
    color: $color-black
    transition: color .2s linear
  &__subtitle
    font-size: 14px
    color: $color-text
    transition: color .2s linear
  &__icon
    margin-right: 16px
  
.cabinet-table
  margin-bottom: 41px
  & tbody
    & td 
      &:first-child
        width: 8%
      &:nth-child(2)
        width: 29.5%
          
@media screen and (max-width: 1200px)  
  .cabinet
    padding: 5px 0 65px
  .cabinet-menu__title
    font-size: 18px
  .cabinet-menu__icon
    margin-right: 10px
@media screen and (max-width: 992px)
  .cabinet
    padding: 5px 0 55px
    &-table
      overflow: scroll
      margin-bottom: 30px
  .cabinet-menu__item
    padding: 20px 0
@media screen and (max-width: 768px)
  .cabinet-menu__box
    flex-direction: column
    border: none
  .cabinet-menu__item
    padding: 10px 0
    border-top: 1px solid #E5E5EB
  .cabinet
    padding: 5px 0 35px
    &-table
      margin-bottom: 15px
    &__btn
      width: 100%
      text-align: center
      font-size: 15px 
      line-height: 20px
      padding: 11px 0
@media screen and (max-width: 576px)
  .cabinet
    padding: 5px 0 15px