.contacts
  padding: 7px 20px
  &__item
    display: flex
    justify-content: space-between
    margin-bottom: 53px
    &:last-child
      margin-bottom: 0
  &__description
    flex-basis: 48%
  &__text
    padding-top: 4px
    display: flex
    flex-direction: column
    margin-bottom: 24px
    & span 
      display: block
      margin-bottom: 10px
      color: $color-text-tooltip
      font-size: 14px
      line-height: 16px
    & a 
      text-decoration: none
      color: $color-text
      transition: color .2s linear
      &:hover
        color: $color-brand-red
  &__table
    & table 
      margin-bottom: 0
    & tbody 
      & td:first-child
        width: 30%
      & td:nth-child(2)
        width: 23%
        
@media screen and (max-width: 1200px)  
  .contacts__description
    flex-basis: 33%
@media screen and (max-width: 992px)
  .contacts
    &__description
      flex-basis: 45% 
    &__table
      overflow: scroll
@media screen and (max-width: 768px)
  .contacts__item
    flex-direction: column
    margin-bottom: 20px
  .contacts__item:last-child
    margin-bottom: 20px
  .contacts__text
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0 


