.cookie
  display: none
  position: fixed
  width: 100%
  bottom: 0 
  background: #F4F7FB
  z-index: 6000
  &__text
    flex-basis: 87%
  & p 
    @include text-regular
  & a 
    color: $color-interactive
    transition: color .2s linear 
    text-decoration: none
    &:hover
      color: $color-interactive-hover
  &__btn
    padding: 15px 26px
    font-size: 18px
    line-height: 25px
  &__wrap
    padding: 37px 0
    justify-content: space-between
    display: flex
    align-items: center
  &__close
    cursor: pointer
    position: absolute
    right: 48px
    top: 50%
    transform: translateY(-50%)
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    & i 
      position: relative
      width: 100%
      height: 3px
      background: transparent
      &::after, &::before
        transition: all .2s linear
        content: ""
        display: block
        position: absolute
        top: 0
        width: 80%
        height: 3px
        background: #848E99
      &::after
        transform: rotate(45deg)
      &::before
        transform: rotate(-45deg)
    &:hover
      & i 
        &::after, &::before
          background: #3B4256

@media screen and (max-width: 1400px)  
  .cookie
    &__wrap
      padding: 25px 0
    &__close 
      right: 2px
@media screen and (max-width: 1200px)  
  .cookie
    &__wrap
      padding: 20px 0
    
@media screen and (max-width: 992px)
  .cookie__text
    flex-basis: 77%
  .cookie 
    & p 
      font-size: 14px
      line-height: 18px
    &__btn 
      font-size: 15px
      line-height: 18px
      padding: 10px 20px 


@media screen and (max-width: 768px)
  .cookie
    &__wrap
      padding: 10px 0
    &__close
      top: 23px
    
  .cookie p
    font-size: 12px

@media screen and (max-width: 576px)
  .cookie
    &__wrap
      padding: 5px 0
    &__btn
      align-self: flex-end
      padding: 7px 10px
