.descussion
  padding: 5px 0 74px
  &__file
    padding: 64px 0 39px
  &__wrap
    padding-top: 50px
    display: flex
    flex-direction: column
  &__item
    display: flex
    justify-content: space-between
    margin-bottom: 39px
    &:last-child
      margin-bottom: 0
  &__description
    display: flex
    flex-direction: column
    flex-basis: 72%
    & p 
      margin-bottom: 15px
  &__suptitle
    padding: 34px 0
    display: block
    font-size: 30px 
    line-height: 36px
    font-weight: 400
    color: $color-black
  &__data
    color: $color-text-tooltip
    font-size: 14px
    line-height: 16px
    font-weight: 400
  &__status
    color: $color-brand-gold
    font-size: 14px
    line-height: 16px
    font-weight: 400
    margin-left: 25px

.descussion-form
  padding: 18px 0 10px
  &__wrap
    display: flex
    flex-direction: column
  &__row
    display: flex
    & .descussion-form__item
      flex-basis: auto
      margin-right: 32px
  &__item
    display: flex
    flex-direction: column
    flex-basis: 100%
    margin-bottom: 32px
  &__label
    font-size: 14px
    line-height: 16px
    color: $color-text-tooltip
    margin-bottom: 0
  &__text
    @include text-regular
  &__message
    padding: 13px 0 0 
    margin-bottom: 38px
    display: flex
    flex-direction: column
    & .descussion-form__text
      margin-bottom: 9px
    & .descussion-form__label
      font-size: 18px
      margin-bottom: 11px
  &__textarea
    width: 100%
    & textarea
      width: 100%
      height: 124px
@media screen and (max-width: 1200px)  
  .descussion
    padding: 5px 0 65px
    
@media screen and (max-width: 992px)
  .descussion
    padding: 5px 0 45px
  .descussion__wrap
    padding-top: 20px
  .descussion__item
    margin-bottom: 25px
  .descussion__description p
    margin-bottom: 5px
  .descussion__file
    padding: 39px 0
  .descussion__suptitle
    font-size: 28px
    padding: 25px 0
  .descussion-form__message
    margin-bottom: 25px

@media screen and (max-width: 768px)
  .file-download__text span
    display: none
  .descussion-form__row .descussion-form__item
    margin-bottom: 10px
  .descussion-form__message
    margin-bottom: 15px
  .descussion-form__text
    font-size: 16px
  .descussion-form__item
    margin-bottom: 25px
  .descussion-form
    padding: 8px 0
  .descussion
    padding: 5px 0 25px
  .descussion__file
    padding: 30px 0
  .descussion__suptitle
    font-size: 24px
    padding: 15px 0
  .descussion__status
    margin-left: 15px
@media screen and (max-width: 576px)
  .descussion-form__item
    margin-bottom: 15px
  .descussion-form__row
    flex-direction: column
  .descussion
    padding: 5px 0 15px
  .descussion__wrap
    padding-top: 10px
  .descussion__item 
    margin-bottom: 15px
  .descussion__file
    padding: 5px 0
  .descussion__suptitle
    font-size: 20px
    padding: 10px 0