.footer
  background: #2E3547
  &__wrap
    padding: 71px 0 55px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__social
    flex-direction: column
  &__item
    display: flex
    flex-direction: column
    flex-basis: 32%
  &__social
    align-items: flex-start
    & .social__title
      margin-bottom: 6px
      margin-right: 0
  &-contact
    display: flex
    flex-direction: column
    &__item
      margin-bottom: 32px
    &__title
      display: block
      font-size: 14px
      line-height: 16px
      font-weight: 400
      color: $color-text-tooltip
      margin-bottom: 10px
    & p, & a
      color: white
      @include text-regular
    & a
      text-decoration: none
      transition: color .2s linear 
      &:hover
        color: $color-brand-gold
  & ul.footer__item
    flex-basis: 21.5%
ul.footer__item   
  & li
    margin-bottom: 29px
    & a 
      text-decoration: none
      color: white
      transition: color .2s linear
      @include text-bold
      &:hover
        color: $color-brand-gold

.footer-strip
  border-top: 1px solid #4F576B
  &__wrap
    padding: 24px 0
    display: flex
    justify-content: space-between
  &__text
    font-weight: 400
    color: white
    font-size: 14px
    line-height: 16px
  &__production
    display: flex
    align-items: center
    & span
      margin-right: 16px
      display: block
      font-size: 14px
      line-height: 16px
      color: #848E99


@media screen and (max-width: 992px)
  .footer__item:first-child
    flex-basis: 100%
    margin-bottom: 20px
  .footer ul.footer__item
    flex-basis: 45%
  .footer__wrap
    padding: 50px 0 45px

@media screen and (max-width: 768px)
  .footer__wrap
    padding: 30px 0 25px 
  .footer-contact__item
    margin-bottom: 15px
  ul.footer__item li
    margin-bottom: 15px
  ul.footer__item li a
    font-size: 16px
    line-height: 20px

@media screen and (max-width: 576px)
  .footer__wrap
    padding: 20px 0 10px 
    flex-direction: column
  .footer-strip__wrap
    flex-direction: column
    padding: 15px 0
  .footer-strip__text
    margin-bottom: 15px
