.gid
  margin-bottom: -5px
  position: relative
  height: 600px
  &__wrap
    display: flex
    justify-content: space-between
    padding-top: 170px
  &__title
    color: white
    font-size: 30px 
    line-height: 32px

  &__list
    display: flex
    flex-direction: column
    padding: 15px 32px 20px
    background: rgba(59, 66, 86, 0.6)
    backdrop-filter: blur(20px)
    border-radius: 2px
    & li
      width: 277px
      border-bottom: 1px solid #575F74
      & a 
        padding: 16px 0
        display: flex
        align-items: center
        justify-content: space-between
        text-decoration: none
        color: white
        @include text-bold
        & i 
          color: white
          @include text-bold
  &__bg
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: -10
    & img 
      width: 100%
      height: 100%
    &::before
      content: ""
      position: absolute
      display: block
      height: 100%
      width: 100%
      background: rgba(59, 66, 86, 0.2)
  
@media screen and (max-width: 1200px)  
  .gid
    height: 500px
  .gid__wrap
    padding-top: 100px
  .gid__list li a
    font-size: 16px
    line-height: 22px
  .gid__list li
    width: 250px

@media screen and (max-width: 992px)
  .gid__wrap
    flex-direction: column
    padding-top: 70px
  .gid__list 
    align-self: flex-start

@media screen and (max-width: 768px)
  .gid__list 
    margin-bottom: 20px

@media screen and (max-width: 576px)
  .gid__wrap
    padding-top: 34px
  .gid
    height: auto
    min-height: 400px
  .gid__list 
    width: 100%
