header
  position: relative
.header
  &__logo
    margin-right: auto
  &__hero
    background: #3B4256
  &__pannel
    box-shadow: 0px 6px 24px rgba(186, 200, 219, 0.48)
    position: relative
    z-index: 200
  &__box
    display: flex
    align-items: center
  &__search
    display: flex
    align-items: center
    padding: 13px 20px 13px 0
    text-decoration: none
    margin-right: 39px
    & span
      color: white
    & i
      color: white
      margin-right: 12px
      font-size: 24px
  &__impaire
    text-decoration: none
    display: flex
    align-items: center
    background: #505871
    padding: 14px 24px
    & span
      color: white
      border-bottom: 1px dashed white
    & i::before
      font-size: 22px
      margin-right: 14px
      color: white
  &__logout
    display: flex
    flex-direction: column
    & span 
      color: white
    & .header__account_enter
      color: $color-text-tooltip
      text-decoration: none
      transition: color .2s linear
      font-size: 14px
  &__account
    padding: 8px 23px
    padding-right: 0
    display: flex
    align-items: center
    text-decoration: none
    & .header__account_exit
      margin-left: 15px
      text-decoration: none
      color: $color-brand-gold
      transition: color .2s linear
      display: none
    &:hover
      & .header__account_enter
        color: white
      & .header__account_exit 
        color: lighten($color-brand-gold, 10%)
    &.active
      & .header__account_enter
        display: none
      & .header__account_exit
        display: flex
    &_icon
      color: white
      font-size: 24px
      margin-right: 13px
  & .social
    margin-right: auto
    & .social__wrap .social__icon
      margin-right: 7px
      & i::before
        font-size: 13px
        width: 26px
        height: 26px
  &__message
    display: flex
    align-items: center
    padding: 12px 18px
    margin-right: 25px
    & i 
      font-size: 17px
    &_send
      color: $color-interactive
      margin-left: 8px
      margin-bottom: -2px

@media screen and (max-width: 1200px)  
  .header__search 
    margin-right: 10px
  .header__impaire span
    display: none
  .header__logout
    display: none
  .header__impaire i::before
    margin-right: 0
  .header__account_exit
    margin-left: 0
  .nav__list
    display: none
  .nav__kebab
    padding: 25px 0

@media screen and (max-width: 768px)
  .header__social
    display: none
  .header__search
    margin-right: auto
  .header .header__message
    display: none 
  .logo__title
    font-size: 14px 
    line-height: 16px
  .logo__subtitle
    font-size: 12px
  .logo img
    width: 35px
  .logo
    max-width: 250px
    &__text
      margin-left: 10px

@media screen and (max-width: 576px)
  .header__impaire
    padding: 14px 8px
  .header__account 
    padding: 8px 10px
