.hero
  position: relative
  &__item
    position: relative
    height: 31.1vw
    overflow: hidden
    padding-top: 11vw 
  &__image
    position: absolute
    top: 0
    left: 0
    bottom: 0
    top: 0
    height: 100%
    width: 100%
    z-index: -1
    & img
      width: 100%
  &__title
    margin-top: 21px
    font-size: 64px
    line-height: 68px
    color: white
    font-weight: 700
    margin-bottom: 0
  & .slick-dotted.slick-slider
    margin-bottom: 0
  &__dots
    bottom: 10%
    position: absolute
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    z-index: 500
    & .slick-dots
      justify-content: center
      & li 
        width: 22px
        height: 13px
        & button 
          padding: 0
          height: 4px
          width: 28px
          background: rgba(244, 247, 251, 0.4)
          transition: all .2s linear
        &.slick-active button 
          background: rgba(244, 247, 251, 0.6)
          
@media screen and (max-width: 1400px)  
  .hero
    &__item
      padding-top: 90px
    &__title
      margin-top: 0
      font-size: 61px
      line-height: 55px
@media screen and (max-width: 1200px)  
  .hero
    &__item
      padding-top: 60px 

@media screen and (max-width: 992px)
  .hero
    &__item
      padding-top: 40px
    &__title
      font-size: 38px
      line-height: 40px

@media screen and (max-width: 768px)
  .hero
    &__item
      height: 300px
    &__image img
      width: 100%
      height: 100%

@media screen and (max-width: 576px)
  .hero
    &__item
      padding-top: 20px
      height: 220px
  .hero__title
    font-size: 27px
    line-height: 36px
  .hero__dots
    bottom: 15%