.modal 
  position: relative
  padding: 52px 40px 40px
  border-radius: 6px
  background: white
  display: none
  width: 390px
  text-align: center
  & svg 
    display: block
    text-align: center
    margin: 0 auto
    margin-bottom: 24px
  & span 
    display: block
    font-size: 14px
    line-height: 16px
    margin-bottom: 12px
    color: $color-text-tooltip
  & p 
    margin-bottom: 24px
  & .modal__title
    color: $color-black
    @include text-bold
  &__btn
    font-size: 18px
    line-height: 25px
    font-weight: 500
    margin-bottom: 16px
    display: block
    width: 100%
    text-align: center
    padding: 15px 0
@media screen and (max-width: 1200px)  
  .descussion

    
@media screen and (max-width: 992px)
  .descussion


@media screen and (max-width: 768px)
  .modal
    padding: 40px 30px 30px
    &__btn 
      font-size: 16px
      line-height: 18px
      padding: 11px 0
      margin-bottom: 10px
    & svg
      margin-bottom: 15px
    & .modal__title
      font-size: 17px
      line-height: 20px
    & p
      margin-bottom: 15px
      line-height: 16px

@media screen and (max-width: 576px)
  .modal
    padding: 30px 20px 20px