.news
  padding: 10px 0 72px
  &__wrap
    display: flex
    flex-wrap: wrap
  &__item
    flex-basis: 29%
    margin-right: 5.3%
    min-height: 134px
    display: flex
    flex-direction: column
    margin-bottom: 30px
    &:nth-child(3n)
      margin-right: 0
    & .data
      margin-top: auto
  &__form
    width: 100%
    display: flex
    margin-bottom: 30px
    & select, & input 
      margin-right: 13px
      padding: 11px
      flex-basis: 44%  
  &__suptitle
    color: #3B4256
    font-size: 30px
    line-height: 36px
    font-weight: 400
    display: block
    padding: 34px 0 32px
  &__table
    padding: 29px 0 26px
    & tbody 
      & td:first-child
        width: 30%
      & td:nth-child(2)
        width: 23%
  &__promo
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__description
    flex-basis: 48%
    display: flex
    flex-direction: column
    &_title
      color: $color-black
      @include text-medium
      text-decoration: none
      margin-top: 9px
      margin-bottom: 14px
    & .data
      margin-top: auto
      padding-bottom: 7px
  &__link
    display: block
    text-decoration: none
    @include text-bold
    transition: color .2s linear
    &:hover
      color: $color-brand-red
  &__image
    flex-basis: 47.7%
    & img
      width: 100%
  &__string
    padding: 7px 0 14px
    margin-bottom: 30px
    border-bottom: 1px solid #E5E5EB
    & .news__link
      margin-bottom: 21px
@media screen and (max-width: 1200px)  
  .news
    padding: 6px 0 60px

@media screen and (max-width: 992px)
  .news__table
    overflow: scroll
    padding: 10px 0
  .news
    padding: 6px 0 40px
    &__item
      margin-right: 0
      flex-basis: 45%
  .news__wrap
    justify-content: space-between
  .news__string .news__link
    margin-bottom: 10px
  .news__string
    margin-bottom: 15px
@media screen and (max-width: 768px)
  .news
    padding: 6px 0 40px
  .news__form
    flex-wrap: wrap
    flex-direction: column
    margin-bottom: 10px
    & select, & input 
      margin-bottom: 10px 
  .news__description_title
    font-size: 20px 
    line-height: 24px
@media screen and (max-width: 576px)
  .news__wrap
    flex-direction: column
  .news
    padding: 6px 0 10px
  .news__item
    flex-basis: auto
    min-height: auto
    margin-bottom: 20px
  .news__link
    font-size: 16px
    line-height: 20px
  .news__description_title
    font-size: 18px 
    line-height: 22px
