.search
  padding: 7px 0 37px
  & form 
    margin-bottom: 32px
  &__wrap
    display: flex
    flex-direction: column
  &__item
    border-top: 1px solid #E5E5EB
    padding: 38px 0 30px
    &:last-child
      padding: 38px 0 0
  &__title
    padding-bottom: 32px
    width: 100%
    border-bottom: 1px solid #E5E5EB
    margin-bottom: 30px
  &__subtitle
    @include text-medium
    margin-bottom: 32px
    display: block
  & button.search__btn
    cursor: pointer
    display: flex
    align-items: center
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    padding: 0 25px
    font-size: 19px
    & .search__btn_icon
      color: white
      margin-left: 16px
      font-size: 24px
      margin-top: 2px
  &__field
    display: flex
    & input
      width: 100%
      padding: 16.5px 14px
.search-result
  display: flex
  width: 100%
  &__index
    padding-left: 16px
    flex-basis: 10%
    @include text-bold
    color: $color-text-tooltip
  &__description
    display: flex
    flex-direction: column
  &__title
    margin-top: -2px
    display: block
    margin-bottom: 7px
    color: black
    text-decoration: none
    transition: color .2s linear
    @include text-regular
    &:hover
      color: $color-brand-red
  & p 
    font-size: 14px
    line-height: 20px
    font-weight: 400
    color: $color-text-tooltip
    margin-bottom: 3px
  &__link
    font-size: 14px
    line-height: 20px
    font-weight: 400
    color: $color-brand-red



@media screen and (max-width: 992px)
  .search-result__title
    font-size: 16px 
    line-height: 22px
  .search__item
    padding: 25px 0
  .search__subtitle
    font-size: 20px 
    line-height: 24px
    margin-bottom: 20px
  .search form
    margin-bottom: 20px
  .search button.search__btn
    font-size: 16px
  .search button.search__btn .search__btn_icon
    font-size: 20px
    margin-left: 10px
  .search__title
    padding-bottom: 20px
    margin-bottom: 20px
  .search
    padding: 6px 0 60px

@media screen and (max-width: 768px)
  .search-result__index
    padding-left: 0
    flex-basis: 13%
  .search__title
    padding-bottom: 10px 
    margin-bottom: 10px
  .search__subtitle
    font-size: 18px
    line-height: 22px
    margin-bottom: 15px
  .search__item
    padding: 15px 0
  .search
    padding: 6px 0 40px
  
  .search__field input
    padding: 12px 14px
  .search button.search__btn
    font-size: 13px
    padding: 0 15px
  .search button.search__btn .search__btn_icon
    font-size: 16px
    margin-left: 5px
  .search__subtitle
    font-size: 16px
    line-height: 20px
    margin-bottom: 10px
  .search-result__title
    font-size: 14px
    line-height: 20px
    margin-top: 0
  .search-result p
    font-size: 13px
    line-height: 18px
  .search-result__index
    flex-basis: 30%

@media screen and (max-width: 576px)
  .search
    padding: 6px 0 30px
