.structure
  padding: 10px 0
  &__wrap
    flex-wrap: wrap
    display: flex
    justify-content: space-between
  &__link
    margin-bottom: 46px
    display: flex
    flex-basis: 48.6%
    text-decoration: none
    &:hover
      & .structure__title
        color: $color-brand-red
      & .structure__icon path
        fill: $color-brand-red
  &__title
    display: block
    margin-bottom: 14px
    @include text-medium
    color: $color-black
    transition: color .2s linear
  &__description
    display: flex
    flex-direction: column
  &__icon
    min-width: 72px
    transition: all .2s linear 
    margin-right: 24px
    & path
      transition: all .2s linear
    

@media screen and (max-width: 992px)
  .structure__icon
    width: 48px
    height: 48px
    margin-right: 15px
  .structure__title
    font-size: 18px
    line-height: 22px
    margin-bottom: 5px
  .structure__link
    margin-bottom: 30px

@media screen and (max-width: 768px)
  .structure__wrap
    flex-direction: column
  .structure__link
    margin-bottom: 20px
@media screen and (max-width: 576px)
  .structure__icon
    width: 38px
    height: 38px
    margin-right: 5px
