.subscription
  padding: 35px 0 52px
  &__box
    padding: 28px 28px
    background: #F4F7FB
    border-radius: 6px
    display: flex
    align-items: center
    margin-bottom: 24px
  &__text
      @include text-regular
      margin-right: 16px
  &__icons
    display: flex
    margin-right: auto
    & a
      text-decoration: none
      margin-right: 11px
  &__seal
    display: flex
    align-items: center
    text-decoration: none
    & i 
      margin-right: 10px
      font-size: 25px
    & span
      @include text-regular
  &__statistic
    display: flex
    margin-bottom: 8px
    & span 
      font-size: 14px
      line-height: 16px
      font-weight: 400
    & .subscription__statistic_grey
      color: $color-text-tooltip
      margin-right: 4px

@media screen and (max-width: 992px)
  .subscription__box
    padding: 15px
  .subscription__text
    margin-right: 10px
  .subscription__icons a
    margin-right: 5px
  .subscription
    padding: 35px 0

@media screen and (max-width: 768px)
  .subscription__box
    flex-direction: column
    align-items: flex-start
    margin-bottom: 15px
  .subscription__text
    margin-right: 0
    margin-bottom: 10px
    font-size: 16px
  .subscription__icons
    margin-bottom: 10px
    flex-wrap: wrap
  .subscription__seal span
    font-size: 14px
  .subscription__seal i
    font-size: 20px
  .subscription__statistic span
    font-size: 12px
    line-height: 14px
  .subscription
    padding: 20px 0
@media screen and (max-width: 576px)
  .subscription
    padding: 10px 0
  .subscription__icons a
    margin-bottom: 5px 