.useful-links
  padding: 50px 0 46px
  &__title
    font-size: 30px
    line-height: 36px
  &__wrap
    display: flex
    flex-wrap: wrap
  & span, & span
    color: $color-black
    @include text-bold
  &__link
    margin-bottom: 25px
    min-height: 148px
    flex-basis: 31.4%
    display: flex
    margin-right: 2.8%
    padding: 32px 25px
    background: white
    text-decoration: none
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0)
    transition: all .2s linear
    & i 
      font-size: 23px
      margin-right: 17px
      color: $color-brand-gold
    &:nth-child(3n)
      margin-right: 0
    &:hover
      box-shadow:  0px 6px 24px rgba(186, 200, 219, 0.48)
      & span
        color: $color-brand-gold

@media screen and (max-width: 992px)
  .useful-links
    &__wrap
      justify-content: space-between
    &__link
      flex-basis: 48%
      margin-right: 0
  .useful-links
    padding: 40px 0
@media screen and (max-width: 768px)
  .useful-links
    &__wrap
      flex-direction: column
  .useful-links__link
    padding: 20px
    margin-bottom: 20px
  .useful-links
    padding: 30px 0
 
@media screen and (max-width: 576px)
  .useful-links__link
    padding: 10px
    margin-bottom: 10px
  .useful-links
    padding: 15px 0