.article-block
  display: flex
  align-items: center
  width: 100%
  justify-content: space-between
  margin-bottom: 36px
  &__link
    text-decoration: none
    display: flex
    align-items: center
    font-size: 30px
    line-height: 36px
    transition: color .2s linear
    margin-top: 21px
    & i 
      transition: color .2s linear
    &:hover
      color: $color-brand-red
      & i 
        color: $color-brand-red
  &__tabs
    width: 100%
    flex-basis: 80%
    & .tabs__items
      justify-content: flex-end
    

@media screen and (max-width: 1200px)  
  .article-block
    flex-direction: column
    align-items: flex-start
  .article-block__link
    margin-top: 10px
    font-size: 28px

@media screen and (max-width: 992px)
  .article-block__link
    margin-top: 0
    font-size: 23px
  .article-block
    margin-bottom: 20px


