.aside
  top: 130px
  position: sticky
  display: flex
  flex-direction: column
  border-left: 2px solid #D9D9DE
  padding: 8px 0
  & li 
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
  & li.current
    display: none
    cursor: pointer
    justify-content: space-between
    padding: 10px 20px
    background: #F4F7FB
  & a 
    margin-left: -2px
    border-left: 2px solid transparent
    display: block
    text-decoration: none
    padding: 5px 22px
    color: black
    transition: all .2s linear
    color: $color-text
    &:hover 
      color: $color-brand-red
  & a.active 
    pointer-events: none
    color: $color-black
    border-left: 2px solid $color-brand-red

    
@media screen and (max-width: 992px)
  .aside
    padding: 5px 0
    margin-bottom: 20px
    position: static
    border-left: none
    & li
      display: none
      border-bottom: 1px solid #D9D9DE
      margin-bottom: 0
      & a 
        margin: 0
        padding: 10px 10px 
      &:last-child
        margin-bottom: 0
    & li.current
      display: flex
      align-items: center
      border-bottom: none
    & li.current.active
      & ~ li 
        display: flex
      & i 
        transform: rotate(180deg)
        
@media screen and (max-width: 576px)
  .aside
    margin-bottom: 10px