.box
  display: flex
  justify-content: space-between
  width: 100%
  &__main
    flex-basis: 65.7%
  &__aside
    flex-basis: 28.6%
    position: relative

@media screen and (max-width: 992px)
  .box
    flex-direction: column
    &__main, &__aside
      flex-basis: 100%
    &__aside
      order: -1
