.breadcrumbs
  &__list
    display: flex
    padding: 29px 0 12px
    & li  
      color: #3B4256
      margin-right: 23px
      &:last-child
        margin-right: 0
      & a
        padding-bottom: 2px
        border-bottom: 2px solid #F4F7FB
        color: #3B4256
        position: relative
        transition: all .2s linear
        text-decoration: none
        &::before
          content: "/"
          color: $color-border
          font-size: 16px
          display: block
          position: absolute
          right: -15px
@media screen and (min-width: 992px)
  .breadcrumbs__list
    & li a
      transition: all .2s linear
      &:hover
        border-bottom: 2px solid $color-interactive-hover
        color: $color-interactive-hover
@media screen and (max-width: 768px)
  .breadcrumbs
    &__list
      flex-wrap: wrap
      padding: 14px 0 10px

@media screen and (max-width: 576px)
  .breadcrumbs__list li
    font-size: 13px
