button.btn-secondary, a.btn-secondary, button.btn-primary, a.btn-primary
  text-decoration: none
  transition: all .2s linear
  border-radius: 6px  
  display: inline-block
  border: none
  cursor: pointer
  &:active
    outline: none
button.btn-secondary, a.btn-secondary
  text-decoration: none
  background: transparent
  color: $color-interactive
  border: 1px solid #B3CBE8
  &:hover
    background: #F2F6FB
    border: 1px solid $color-interactive
  &:active
    color: #0050B2

button.btn-primary, a.btn-primary
  color: white
  background: $color-interactive-hover
  transition: all .2s linear
  &:hover
    background: #004EAE
  &:focus
    background: #004498   

button.btn-primary.disabled, a.btn-primary.disabled, button.btn-primary:disabled
  pointer-events: none
  background: #848E99
button.btn-secondary.disabled, a.btn-secondary.disabled, button.btn-secondary:disabled
  pointer-events: none
  border: 1px solid #848E99
  color: #848E99

.btn-more
  width: 100%
  padding: 15px 0
  font-size: 18px
  line-height: 25px
  text-align: center

.btn-group
  display: flex
  flex-wrap: wrap
  padding: 20px 0 27px
  & a, & button
    font-size: 18px
    line-height: 25px
    font-weight: 500
    margin-right: 15px
    padding: 15px 26px
    margin-bottom: 16px
  &__text
    flex-basis: 100%
    color: $color-text-tooltip
    font-size: 14px
    line-height: 16px
    margin-bottom: 8px

@media screen and (max-width: 992px)
  .btn-group
    padding: 10px 0
    & a, & button
      font-size: 15px
      line-height: 15px
      margin-right: 10px
      padding: 10px 16px
      margin-bottom: 10px
  .btn-more
    padding: 13px 0
    font-size: 16px
    line-height: 20px

@media screen and (max-width: 768px)
  .news__promo
    flex-direction: column
@media screen and (max-width: 576px)
  .btn-group
    padding: 5px 0
    & a, & button
      width: 100%
      text-align: center 
  .btn-group__text
    margin-bottom: 5px
    font-size: 13px
    line-height: 14px
  .btn-more
    padding: 10px 0
    font-size: 14px
    line-height: 16px