.content
  display: flex
  flex-direction: column
  padding-bottom: 20px
  &__image
    padding-top: 18px
    margin-bottom: 30px
  & p 
    margin-bottom: 35px 
  &__title
    @include text-bold
    margin-bottom: 9px
  & ol 
    padding-top: 12px
    padding-left: 18px
    margin-bottom: 19px
    & li 
      padding-left: 10px
      @include text-regular
      margin-bottom: 12px
      position: relative
      color: $color-text
  & ul 
    list-style: "•"
    list-style-type: disc
    padding-top: 12px
    padding-left: 18px
    & li 
      padding-left: 10px
      @include text-regular
      margin-bottom: 12px
      position: relative
      color: $color-text
      & ul
        list-style: "—" 
        & li 
          padding-left: 10px
          

@media screen and (max-width: 992px)
  .content
    padding-bottom: 10px
    & p 
      margin-bottom: 15px 
    &__title
      @include text-bold
      margin-bottom: 4px
    & ul 
      list-style: "•"
      list-style-type: disc
      padding-top: 4px
      padding-left: 15px

@media screen and (max-width: 768px)
  .content 
    & ul li, & ol li
      font-size: 14px
      line-height: 16px
      margin-bottom: 7px
  &__image
    padding-top: 10px
    margin-bottom: 20px

