.danger-alert
  background: $color-danger
  & i.icon-alert-triangle
    color: white
    font-size: 33px
    margin-right: 15px
  &__wrap
    padding: 15px 0 
    display: flex
    align-items: center
  &__text
    font-size: 18px
    