.data
  display: flex
  align-items: center
  padding: 7px 0 18px
  &.dark 
    & .data__text
      color: $color-black
      pointer-events: none
  &__text
    margin-right: 10px
    color: $color-brand-red
    font-weight: 500
    font-size: 14px
    line-height: 16px
  & svg 
    margin-right: 13px
  &__data
    color: $color-text-tooltip
    font-weight: 400
    font-size: 14px
    line-height: 16px
@media screen and (max-width: 992px)
  .data
    padding: 7px 0 

@media screen and (max-width: 768px)
  .data
    &__text
      margin-right: 5px
      font-size: 12px
      line-height: 14px  
    &__data
      font-size: 12px
      line-height: 14px
    & svg 
      margin-right: 8px

