.field-radio 
  border: 2px solid transparent
  border-radius: 2px
  width: 100%
  display: block
  position: relative
  padding: 10px 0
  padding-left: 48px
  margin-bottom: 12px
  cursor: pointer
  @include text-regular
  user-select: none
  background: #F4F7FB
  transition: all .2s linear 
  &:hover
    background: #E6EEF7
  & input
    position: absolute
    opacity: 0
    cursor: pointer
.field-radio.active
  border: 2px solid #0061D9
  background: white
  &:hover
    background: white
.field-radio .checkmark 
  left: 12px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  height: 21px
  width: 21px
  border: 2px solid #000000
  background-color: transparent
  border-radius: 50%

/* When the radio button is checked, add a blue background */
.field-radio input:checked ~ .checkmark 
  background-color: #0061D9
  border: 2px solid #0061D9

/* Create the indicator (the dot/circle - hidden when not checked) */
.field-radio .checkmark::after 
  content: ""
  position: absolute
  display: none

.field-radio .checkmark::after 
	width: 10px
	height: 10px
	border-radius: 50%
	background: white
.field-radio .checkmark::after
  right: 50%
  top: 50%
  transform: translate(50%, -50%)

.field-radio input:checked ~ .checkmark::after 
  display: block

.field-checkbox 
  padding: 10px 0
  border: 2px solid transparent
  display: block
  position: relative
  padding-left: 48px
  margin-bottom: 12px
  cursor: pointer
  @include text-regular
  user-select: none
  background: #F4F7FB
  transition: all .2s linear 
  &:hover
    background: #E6EEF7
.field-checkbox.active
  border: 2px solid #0061D9
  background: white
  &:hover
    background: white

.field-checkbox input 
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.field-checkbox .checkmark 
  left: 12px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  height: 21px
  width: 21px
  background-color: transparent
  border-radius: 2px
  border: 2px solid black

.field-checkbox input:checked ~ .checkmark 
  background-color: #0061D9
  border: 2px solid #0061D9

.field-checkbox .checkmark::after 
  content: ""
  position: absolute
  display: none

.field-checkbox input:checked ~ .checkmark::after 
  display: block

.field-checkbox .checkmark::after 
  left: 5px
  top: 1px
  width: 5px
  height: 10px
  border: solid white
  border-width: 0 3px 3px 0
  transform: rotate(45deg)

.politic
  width: 100%
  &__error
    padding: 12px
    display: none
    color: $color-error
    @include text-regular
  &__checkbox
    border: none
    max-width: 700px
    background: transparent
    padding: 0
    padding-top: 4px
    padding-left: 31px
    font-size: 14px
    line-height: 16px
    &:hover
      background: transparent
    &.active
      border: none
      background: transparent
      &:hover
        background: transparent
    & .checkmark
      left: 0
      top: 0
      transform: none
  &.error
    background: #F5E3E3
    & .politic__error
      display: block
.field-select
  position: relative
  & select 
    cursor: pointer
    padding: 11px 15px
    width: 100%
    appearance: none !important
  & .icon-chevron-bottom
    position: absolute
    right: 5px
    font-size: 18px
    top: 50%
    padding: 5px 10px
    transform: translateY(-50%)
    

@media screen and (max-width: 768px)
  .field-radio, .field-checkbox
    padding: 5px 0
    margin-bottom: 5px
    font-size: 14px
    padding-left: 37px
  .field-radio .checkmark, .field-checkbox .checkmark
    width: 18px
    height: 18px
    left: 10px
  .field-radio .checkmark::after
    width: 8px
    height: 8px
  .field-checkbox .checkmark::after
    border-width: 0 2px 2px 0
    left: 4px 
    top: 0px
