.file-download .error__text
  padding: 5px 5px
  color: #D51A1A
  display: none 

.file
  display: flex
  flex-direction: column
  max-width: 531px
  &__progress
    position: relative
    width: 100%
    height: 4px
    background: #E5E5EB
    overflow: hidden
    border-radius: 39px
    &_bar
      width: 0
      height: 4px
      border-radius: 39px
      position: absolute
      left: 0
      top: 0
      transition: all .2s linear
      background: #27C29D 
  &__item
    border-top: 1px solid #E5E5EB
    display: flex
    padding: 22px 0 19px
    &:first-child
      border: none
      padding: 0
      padding-bottom: 16px
  &__icon
    margin-right: 22.5px
  &__description
    display: flex
    flex-direction: column
  &__download
    text-decoration: none
    color: $color-interactive
    transition: color .2s linear
    margin-bottom: 5px
    @include text-regular
    &:hover
      color: $color-brand-red
  &__size
    color: $color-text-tooltip
    font-size: 14px
    font-weight: 400
    line-height: 16px
.file-download .file__description .file__size 
  margin-bottom: 6px
.file-download
  width: 100%
  &.error .file
    background: #F5E3E3
    padding: 5px
  &.error .error__text
    background: #F5E3E3
    display: block
  &__btn
    font-size: 16px
    line-height: 19px
    padding: 12px 16px
  & .file 
    max-width: none
  &__field
    display: block
    width: 100%
    height: 95px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    border-radius: 10px
    border: 2px dashed #A7A8AB
    & input[type="file"]
      cursor: pointer
      position: absolute
      opacity: 0
      width: 100%
      height: 100%
      &:hover ~ .file-download__text .file-download__btn
        background: #E6EEF7
  &__text
    display: flex
    align-items: center
    & span 
      font-size: 14px
      line-height: 16px
      margin-left: 25px
      color: $color-text-tooltip
.file-download
  & .file 
    padding-top: 22px
  & .file__icon 
    width: 39px
  & .file__item
    padding: 12px 0
    &:first-child
      border-top: 1px solid #E5E5EB 
      padding: 12px 0
  & .file__description
    width: 100%
.file-download .file__size
  color: $color-text
  font-size: 14px
.file-download .file__icon
    margin-right: 9.5px
.file__between
  display: flex
  justify-content: space-between
.file__close
  display: flex
  justify-content: space-between
  & i 
    margin-left: 10px
    transition: all .2s linear 
    cursor: pointer
    color: #C22743
    border: 1px solid #C22743
    border-radius: 50%
    &:hover
      color: white
      background: #C22743
@media screen and (max-width: 992px)
  .file__item:first-child
    padding: 15px 0
  .file__item
    padding: 15px 0
  .file__icon
    margin-right: 10px
  .file__download
    font-size: 16px 
    line-height: 20px
  .file__size
    font-size: 12px
    line-height: 12px


