.logo
  display: flex
  align-items: center
  text-decoration: none
  max-width: 310px
  &__text
    display: flex
    flex-direction: column
    margin-left: 16px
  &__title
    color: $color-black
    font-size: 18px
    line-height: 22px
    font-weight: 400
  &__subtitle
    font-weight: 400
    color: $color-text-tooltip
    font-size: 14px
    line-height: 16px