.nav
  display: flex
  align-items: center
  &__list
    display: flex
    align-items: center
    & li
      margin-right: 25px
      & a
        text-decoration: none
        border-bottom: 2px solid transparent
        display: block
        padding: 42.5px 0 
        transition: all .2s linear
        &:hover
          color: $color-brand-red
          border-bottom: 2px solid $color-brand-red
  &__kebab
    cursor: pointer
    & i 
      font-size: 24px
    &_close
      display: none
    &.active
      & .nav__kebab_close
        display: flex
      & .nav__kebab_open
        display: none !important
      & .menu-burger
        display: none !important
.menu-burger
  display: none
  width: 23px
  height: 23px
  cursor: pointer
  align-items: center
  & i.menu-burger__item 
    height: 2px
    width: 100%
    position: relative
    background: black
    &::before, &::after
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 2px
      background: black
    &::before
      top: 6px
    &::after
      bottom: 6px
.menu-kebab
  display: none
  z-index: 100
  padding: 49px 0 100px
  position: absolute
  top: 100%
  width: 100%
  background: white
  overflow: auto
  height: 90vh
  &__wrap
    display: flex
    flex-wrap: wrap
  &__item
    flex-basis: 24%
    display: flex
    flex-direction: column
    margin-right: 10.3%
    margin-bottom: 32px
    &:nth-child(3n)
      margin-right: 0
    & .menu-kebab__link
      @include text-bold
      margin-bottom: 24px
      text-decoration: none
      color: $color-black
      transition: color .2s linear
      &:hover
        color: $color-brand-red
    & ul 
      display: flex
      flex-direction: column
      & li 
        margin-bottom: 16px
        & a 
          text-decoration: none
          color: $color-text-tooltip
          font-weight: 400
          font-size: 16px
          line-height: 20px
          padding: 5px 0
          transition: color .2s linear
          &:hover
            color: $color-brand-red
@media screen and (max-width: 1200px)
  .nav__kebab_open
    display: none
  .menu-burger
    display: flex
@media screen and (max-width: 992px)
  .menu-kebab
    padding: 20px 0 100px
    &__wrap
      justify-content: space-between
    &__item
      flex-basis: 45%
      margin-right: 0
      &:nth-child(3n)
        margin-right: 0

@media screen and (max-width: 768px)
  .menu-kebab__item
    margin-bottom: 15px
  .menu-kebab__item ul li
    margin-bottom: 10px
  .menu-kebab__item .menu-kebab__link
    margin-bottom: 15px

@media screen and (max-width: 576px)
  .menu-kebab__item 
    flex-basis: 100%