.slider-brand
  padding: 35px 0 37px
  &__image img
    width: 100%
  &__wrap
    display: flex
    flex-wrap: wrap
  & .container
    position: relative
  &__item
    overflow: hidden
    padding: 16px
    height: 161px
    width: 255px
    text-decoration: none
    border-radius: 6px
    border: 1px solid #E5E5EB
    transition: border .2s linear
    
    &:hover
      border: 1px solid $color-brand-gold
    &:focus
      outline: none 
  &__prev, &__next
    cursor: pointer
    padding: 10px
    position: absolute
    top: 30%
    font-size: 28px
    transition: all .2s linear
    color: #848E99
    &:hover
      color: $color-brand-red
    &.slick-disabled
      color: black
      pointer-events: none
  &__prev
    left: -4%
  &__next
    right: -5%
.event
  & .slider-brand__item
    margin-bottom: 35px
    margin-right: 33px
    &:nth-child(4n)
      margin-right: 0

@media screen and (max-width: 1400px)
  .slider-brand
    &__prev
      left: -2%
    &__next
      right: -2%
@media screen and (max-width: 1200px)
  .event
    & .slider-brand__item
      margin-right: 80px
      &:nth-child(4n)
        margin-right: 80px
      &:nth-child(3n)
        margin-right: 0
        
@media screen and (max-width: 992px)
  .slider-brand
    &__prev
      left: -1%
    &__next
      right: -1%
  .event
    & .slider-brand__item
      flex-basis: 45%
      height: 215px
      margin-right: 0
      &:nth-child(4n)
        margin-right: 0
      &:nth-child(3n)
        margin-right: 0
  .slider-brand__wrap
    justify-content: space-between
@media screen and (max-width: 768px)
  .slider-brand
    padding: 20px 0
  .event
    & .slider-brand__item
      padding: 5px
      flex-basis: 47%
      margin-bottom: 20px
      height: 145px

@media screen and (max-width: 576px)
  .slider-brand
    &__prev, &__next
      display: none
  .event
    & .slider-brand__item
      flex-basis: 100%
      height: 190px
