.social
  display: flex
  align-items: center
  &__title
    color: $color-text-tooltip
    font-size: 14px
    line-height: 16px
    font-weight: 400
    margin-right: 10px
  &__wrap
    display: flex
  &__icon
    text-decoration: none
    margin-right: 10px
    &:last-child
      margin-right: 0