.table
  border-collapse: collapse
  width: 100%
  margin-bottom: 41px
  & td 
    color: $color-text
  &__btn
    width: 100%
    text-align: center
    padding: 10px 0
  & .table__status
    color: $color-brand-gold
  & .table__link
    color: $color-brand-red
    text-decoration: none
  & thead
    & tr th
      padding: 0 20px 17px 6px
      text-align: left
      @include text-bold
  & tbody
    & tr
      border-top: 1px solid #D9D9DE
      &:last-child
        border-bottom: 1px solid #D9D9DE
      & td 
        vertical-align: top
        padding: 26px 7px 19.5px 7px
        padding-right: 20px
        @include text-regular
          
@media screen and (max-width: 1200px)  
  .table tbody tr td
    font-size: 14px
    line-height: 20px
    padding: 10px
  .table thead tr th
    font-size: 15px 
    line-height: 20px

@media screen and (max-width: 992px)
  .table
    margin-bottom: 20px

 
