.tabs
  width: 100%
  &__items
    padding-top: 7px
    display: flex
    border-bottom: 2px solid #D9D9DE
    & button 
      transition: all .2s linear
      font-size: 16px
      line-height: 20px
      font-weight: 400
      cursor: pointer
      padding: 14px 24px
      margin-bottom: -2px
      border: none
      background: transparent
      border-bottom: 2px solid transparent
      &:focus
        outline: none
      &.active
        border-bottom: 2px solid $color-brand-red


@media screen and (max-width: 992px)
  .tabs
    &__items
      & button 
        font-size: 15px
        line-height: 18px
        padding: 12px 18px
        
@media screen and (max-width: 768px)
  .tabs
    &__items
      overflow: scroll
      padding-top: 5px
      & button 
        font-size: 14px
        line-height: 16px
        padding: 10px 16px
        margin-bottom: 0

