.vote 
  padding: 23px 0 18px
  &__title
    @include text-regular
    margin-bottom: 10px
    display: block 
  &__item
    max-width: 351px
    margin-bottom: 32px
@media screen and (max-width: 768px)
  .vote
    padding: 5px 0
    &__item
      margin-bottom: 15px