*
  box-sizing: border-box
  font-family: $font-main
  font-weight: 400
  color: black 
  margin: 0
  padding: 0
body
  min-height: 100vh
  display: flex
  flex-direction: column
main
  flex: 1 0 0
ul
  list-style: none
  padding: 0
  margin: 0
h1, h2, h3, h4, h5, h6, p 
  margin: 0
p 
  @include text-regular
  color: $color-text
input, select, textarea
  border-radius: 2px
  resize: none
  font-size: 18px
  border: 2px solid transparent
  background: #F4F7FB
  transition: all .2s linear
  &:hover
    background: #E6EEF7
  &::placeholder
    font-size: 18px
    color: $color-text-tooltip
  &:focus
    outline: none
    border: 2px solid black
    background: white
textarea
  padding: 14px
.title, h1
  margin-bottom: 29px
  display: block
  line-height: 52px
  font-size: 40px
  font-weight: 400
.overflow-hidden
  overflow: hidden
.container 
  max-width: 1152px
  padding: 0 16px
  margin: 0 auto
.main-block
  padding: 33px 0 47px
  & .news__image
    flex-basis: 66% 
  & .news__description
    flex-basis: 31.5%
  & .news__promo
    margin-bottom: 43px
.flex-column
  flex-direction: column !important
  align-items: flex-start !important
.bg-second
  background: $color-light-div
.header.fixed, header.fixed 
  position: fixed
  width: 100%
  background: white
  z-index: 5000
  & .header__hero
    display: none
@media screen and (max-width: 1200px)  
  .container
    max-width: 960px
@media screen and (max-width: 992px)
  .container 
    padding: 0 10px
    max-width: 720px
  .title, h1
    font-size: 28px
    line-height: 40px
    margin-bottom: 25px
  p
    font-size: 16px

  input, select
    font-size: 16px
    &::placeholder
      font-size: 16px
  .main-block .news__promo
    flex-direction: column
@media screen and (max-width: 768px)
  .container 
    max-width: 540px
  .title, h1
    font-size: 22px
    line-height: 38px 
    margin-bottom: 20px
  p 
    font-size: 15px
    line-height: 22px
  input, select
    font-size: 14px
    &::placeholder
      font-size: 14px
  .main-block
    padding: 20px 0
@media screen and (max-width: 576px)
  .container 
    max-width: 355px
  .title, h1
    font-size: 20px
    line-height: 28px
    margin-bottom: 15px
  p
    font-size: 14px

