@font-face 
	font-family: 'Golos UI'
	src: url('../font/Golos%20UI_Regular.eot')
	src: url('../font/Golos%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Golos%20UI_Regular.woff2') format('woff2'),
	url('../font/Golos%20UI_Regular.woff') format('woff'),
	url('../font/Golos%20UI_Regular.ttf') format('truetype')
	font-weight: 400
	font-style: normal
  
@font-face
	font-family: 'Golos UI'
	src: url('Golos%20UI_Medium.eot')
	src: url('../font/Golos%20UI_Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/Golos%20UI_Medium.woff2') format('woff2'),
	url('../font/Golos%20UI_Medium.woff') format('woff'),
	url('../font/Golos%20UI_Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal

@font-face 
  font-family: 'Golos UI'
  src: url('../font/Golos%20UI_Bold.eot')
  src: url('../font/Golos%20UI_Bold.eot?#iefix') format('embedded-opentype'), 
  url('../font/Golos%20UI_Bold.woff2') format('woff2'),
  url('../font/Golos%20UI_Bold.woff') format('woff'),
  url('../font/Golos%20UI_Bold.ttf') format('truetype')
  font-weight: 700

$font-main: 'Golos UI', sans-serif

@font-face 
  font-family: 'icomoon'
  src: url('../font/icons/icomoon.eot?eo8hcq')
  src: url('../font/icons/icomoon.eot?eo8hcq#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.ttf?eo8hcq') format('truetype'),
  url('../font/icons/icomoon.woff?eo8hcq') format('woff'),
  url('../font/icons/icomoon.svg?eo8hcq#icomoon') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block 


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-file .path1:before 
  content: "\e91b"
  color: rgb(234, 246, 255)

.icon-file .path2:before 
  content: "\e91c"
  margin-left: -1em
  color: rgb(216, 236, 254)

.icon-file .path3:before 
  content: "\e91d"
  margin-left: -1em
  color: rgb(130, 174, 227)

.icon-file .path4:before 
  content: "\e91e"
  margin-left: -1em
  color: rgb(130, 174, 227)

.icon-file .path5:before 
  content: "\e91f"
  margin-left: -1em
  color: rgb(130, 174, 227)

.icon-file .path6:before 
  content: "\e920"
  margin-left: -1em
  color: rgb(130, 174, 227)

.icon-file .path7:before 
  content: "\e921"
  margin-left: -1em
  color: rgb(179, 218, 254)

.icon-list .path1:before 
  content: "\e922"
  color: rgb(229, 229, 235)

.icon-list .path2:before 
  content: "\e923"
  margin-left: -1em
  color: rgb(59, 66, 86)

.icon-s-send .path1:before 
  content: "\e92a"
  color: rgb(229, 229, 235)

.icon-s-send .path2:before 
  content: "\e92b"
  margin-left: -1em
  color: rgb(59, 66, 86)

.icon-alert-octagon:before 
  content: "\e900"

.icon-alert-triangle:before 
  content: "\e901"

.icon-check:before 
  content: "\e902"

.icon-chevron-bottom:before 
  content: "\e903"

.icon-chevron-left:before 
  content: "\e904"

.icon-chevron-right:before 
  content: "\e905"

.icon-circle-arrow-top-right:before 
  content: "\e906"

.icon-circle-x:before 
  content: "\e907"

.icon-close:before 
  content: "\e908"

.icon-facebook:before 
  content: "\e909"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #3B5999
  color: white
  border-radius: 50%

.icon-glasses:before 
  content: "\e90a"

.icon-insta:before 
  content: "\e90b"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  color: white
  border-radius: 50%
  background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%)

.icon-kebab-menu:before 
  content: "\e90c"

.icon-ok:before 
  content: "\e90d"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #FF9800
  color: white
  border-radius: 50%

.icon-printer:before 
  content: "\e90e"

.icon-search:before 
  content: "\e90f"

.icon-send:before 
  content: "\e910"

.icon-service:before 
  content: "\e911"

.icon-telegram:before 
  content: "\e912"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #0088CC
  color: white
  border-radius: 50%

.icon-twitter:before 
  content: "\e913"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #03A9F4
  color: white
  border-radius: 50%

.icon-user:before 
  content: "\e914"

.icon-vk:before 
  content: "\e915"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #4B729F
  color: white
  border-radius: 50%

.icon-whatsapp:before 
  content: "\e916"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #4CAF50
  color: white
  border-radius: 50%

.icon-youtube:before 
  content: "\ea9d"
  display: flex
  align-items: center
  justify-content: center
  width: 37px
  height: 37px
  background: #FF0000
  color: white
  border-radius: 50%

