@mixin text-regular
  font-family: $font-main
  font-size: 18px
  line-height: 26px
  font-weight: 400
@mixin text-medium
  font-family: $font-main
  font-size: 22px
  line-height: 28px
  font-weight: 500
@mixin text-bold
  font-family: $font-main
  font-size: 18px
  line-height: 24px
  font-weight: 700
@mixin hover-link-red
  transition: color .2s linear
  &:hover
    color: $color-brand-red
@mixin btn-more
  width: 100%